<!-- Olga Yastrebova -->
<section class="restaurant">
    <div class="container">
      <h2 class="visually-hidden">About our restaurant</h2>
        <span class="restaurant__text">Amet minim mollit non</span>
      <p class="restaurant__logo">Mimiho</p>
      <p class="restaurant__description-first">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
        Velit officia consequat duis enim velit mollit. Exercitation veniam
        consequat sunt nostrud amet.
      </p>  
      <picture>
        <source
          srcset="
            ./images/restaurant/restaurant-interior-desktop.jpg    1x,
            ./images/restaurant/restaurant-interior-desktop@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/restaurant/restaurant-interior-tablet.jpg    1x,
            ./images/restaurant/restaurant-interior-tablet@2x.jpg 2x
          "
          media="(min-width: 1024px) and (max-width: 1279px)"
        />
        <source
          srcset="
            ./images/restaurant/restaurant-interior.jpg    1x,
            ./images/restaurant/restaurant-interior@2x.jpg 2x
          "
          media="(min-width: 414px) and (max-width: 1023px)"
        />
        <source
          srcset="
            ./images/restaurant/restaurant-interior.jpg    1x,
            ./images/restaurant/restaurant-interior@2x.jpg 2x
          "
          media="(max-width: 413px)"
        />
  
        <img
          class="restaurant__image-first"
          src="./images/restaurant/restaurant-interior.jpg"
          alt="tables in restaurant"
        />
      </picture>
  
      <div class="restaurant__flex">
        <picture>
          <source
            srcset="
              ./images/restaurant/pexels-oruri-jacome-desktop.jpg    1x,
              ./images/restaurant/pexels-oruri-jacome-desktop@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/restaurant/pexels-oruri-jacome-tablet.jpg    1x,
              ./images/restaurant/pexels-oruri-jacome-tablet@2x.jpg 2x
            "
            media="(min-width: 1024px) and (max-width: 1279px)"
          />
          <source
            srcset="
              ./images/restaurant/pexels-oruri-jacome.jpg    1x,
              ./images/restaurant/pexels-oruri-jacome@2x.jpg 2x
            "
            media="(min-width: 414px) and (max-width: 1023px)"
          />
          <source
            srcset="
              ./images/restaurant/pexels-oruri-jacome.jpg    1x,
              ./images/restaurant/pexels-oruri-jacome@2x.jpg 2x
            "
            media="(min-width: 414px) and (max-width: 1023px)"
          />
          <source
            srcset="
              ./images/restaurant/pexels-oruri-jacome.jpg    1x,
              ./images/restaurant/pexels-oruri-jacome@2x.jpg 2x
            "
            media="(max-width: 413px)"
          />
          <img
            class="restaurant__image-second"
            src="./images/restaurant/pexels-oruri-jacome.jpg"
            alt="tables and chairs in a restaurant"
          />
        </picture>
        <p class="restaurant__description-second">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
  
      <div class="swiper-restaurant">
        <div class="swiper-restaurant__flex swiper pageSwiper">
          <!-- <picture>
            <source
              srcset="
                ./images/restaurant/helena-lopes-desktop.jpg    1x,
                ./images/restaurant/helena-lopes-desktop@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/restaurant/helena-lopes-tablet.jpg    1x,
                ./images/restaurant/helena-lopes-tablet@2x.jpg 2x
              "
              media="(min-width: 1024px) and (max-width: 1279px)"
            />
            <source
              srcset="
                ./images/restaurant/helena-lopes.jpg    1x,
                ./images/restaurant/helena-lopes@2x.jpg 2x
              "
              media="(min-width: 414px) and (max-width: 1023px)"
            />
            <source
              srcset="
                ./images/restaurant/helena-lopes.jpg    1x,
                ./images/restaurant/helena-lopes@2x.jpg 2x
              "
              media="(max-width: 413px)"
            />
            <img
              class="swiper-restaurant__image"
              src="./images/restaurant/helena-lopes.jpg"
              alt="glasses on the table"
            />
          </picture>
          <picture>
            <source
              srcset="
                ./images/restaurant/mat-brown-desktop.jpg     1x,
                ./images/restaurant//mat-brown-desktop@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/restaurant/mat-brown-tablet.jpg     1x,
                ./images/restaurant//mat-brown-tablet@2x.jpg 2x
              "
              media="(min-width: 1024px) and (max-width: 1279px)"
            />
            <source
              srcset="
                ./images/restaurant/mat-brown.jpg     1x,
                ./images/restaurant//mat-brown@2x.jpg 2x
              "
              media="(min-width: 414px) and (max-width: 1023px)"
            />
            <source
              srcset="
                ./images/restaurant/mat-brown.jpg     1x,
                ./images/restaurant//mat-brown@2x.jpg 2x
              "
              media="(max-width: 413px)"
            />
            <img
              class="swiper-restaurant__image--hidden"
              src="./images/restaurant//mat-brown.jpg"
              alt="dishes on the table"
            />
          </picture> -->
          <div class="swiper-wrapper">
            <div class="swiper-slide only-slide">
              <picture>
                <source
                  srcset="
                    ./images/restaurant/helena-lopes-desktop.jpg    1x,
                    ./images/restaurant/helena-lopes-desktop@2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./images/restaurant/helena-lopes-tablet.jpg    1x,
                    ./images/restaurant/helena-lopes-tablet@2x.jpg 2x
                  "
                  media="(min-width: 1024px) and (max-width: 1279px)"
                />
                <source
                  srcset="
                    ./images/restaurant/helena-lopes.jpg    1x,
                    ./images/restaurant/helena-lopes@2x.jpg 2x
                  "
                  media="(min-width: 414px) and (max-width: 1023px)"
                />
                <source
                  srcset="
                    ./images/restaurant/helena-lopes.jpg    1x,
                    ./images/restaurant/helena-lopes@2x.jpg 2x
                  "
                  media="(max-width: 413px)"
                />
                <img
                  class="swiper-restaurant__image"
                  src="./images/restaurant/helena-lopes.jpg"
                  alt="glasses on the table"
                />
              </picture>
            </div>
            <div class="swiper-slide only-slide">
              <picture>
                <source
                  srcset="
                    ./images/restaurant/mat-brown-desktop.jpg     1x,
                    ./images/restaurant//mat-brown-desktop@2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./images/restaurant/mat-brown-tablet.jpg     1x,
                    ./images/restaurant//mat-brown-tablet@2x.jpg 2x
                  "
                  media="(min-width: 1024px) and (max-width: 1279px)"
                />
                <source
                  srcset="
                    ./images/restaurant/mat-brown.jpg     1x,
                    ./images/restaurant//mat-brown@2x.jpg 2x
                  "
                  media="(min-width: 414px) and (max-width: 1023px)"
                />
                <source
                  srcset="
                    ./images/restaurant/mat-brown.jpg     1x,
                    ./images/restaurant//mat-brown@2x.jpg 2x
                  "
                  media="(max-width: 413px)"
                />
                <img
                  class="swiper-restaurant__image--hidden"
                  src="./images/restaurant//mat-brown.jpg"
                  alt="dishes on the table"
                />
              </picture>
            </div>
            <div class="swiper-slide only-slide">
              <picture>
                <source
                  srcset="
                    ./images/restaurant/unsplash-rest-desktop.jpg    1x,
                    ./images/restaurant/unsplash-rest-desktop@2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./images/restaurant/unsplash-rest-tablet.jpg    1x,
                    ./images/restaurant/unsplash-rest-tablet@2x.jpg 2x
                  "
                  media="(min-width: 1024px) and (max-width: 1279px)"
                />
                <source
                  srcset="
                    ./images/restaurant/unsplash-rest.jpg    1x,
                    ./images/restaurant/unsplash-rest@2x.jpg 2x
                  "
                  media="(min-width: 414px) and (max-width: 1023px)"
                />
                <source
                  srcset="
                    ./images/restaurant/unsplash-rest.jpg    1x,
                    ./images/restaurant/unsplash-rest@2x.jpg 2x
                  "
                  media="(max-width: 413px)"
                />
                <img
                  class="swiper-restaurant__image"
                  src="./images/restaurant/unsplash-rest.jpg"
                  alt="glasses on the table"
                />
              </picture>
            </div>
            <div class="swiper-slide only-slide">
              <picture>
                <source
                  srcset="
                    ./images/restaurant/unsplash-rest1-desktop.jpg     1x,
                    ./images/restaurant//unsplash-rest1-desktop@2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./images/restaurant/unsplash-rest1-tablet.jpg     1x,
                    ./images/restaurant//unsplash-rest1-tablet@2x.jpg 2x
                  "
                  media="(min-width: 1024px) and (max-width: 1279px)"
                />
                <source
                  srcset="
                    ./images/restaurant/unsplash-rest1.jpg     1x,
                    ./images/restaurant//unsplash-rest1@2x.jpg 2x
                  "
                  media="(min-width: 414px) and (max-width: 1023px)"
                />
                <source
                  srcset="
                    ./images/restaurant/unsplash-rest1.jpg     1x,
                    ./images/restaurant//unsplash-rest1@2x.jpg 2x
                  "
                  media="(max-width: 413px)"
                />
                <img
                  class="swiper-restaurant__image--hidden"
                  src="./images/restaurant//unsplash-rest1.jpg"
                  alt="dishes on the table"
                />
              </picture>
            </div>
            <div class="swiper-slide only-slide">
              <picture>
                <source
                  srcset="
                    ./images/restaurant/helena-lopes-desktop.jpg    1x,
                    ./images/restaurant/helena-lopes-desktop@2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./images/restaurant/helena-lopes-tablet.jpg    1x,
                    ./images/restaurant/helena-lopes-tablet@2x.jpg 2x
                  "
                  media="(min-width: 1024px) and (max-width: 1279px)"
                />
                <source
                  srcset="
                    ./images/restaurant/helena-lopes.jpg    1x,
                    ./images/restaurant/helena-lopes@2x.jpg 2x
                  "
                  media="(min-width: 414px) and (max-width: 1023px)"
                />
                <source
                  srcset="
                    ./images/restaurant/helena-lopes.jpg    1x,
                    ./images/restaurant/helena-lopes@2x.jpg 2x
                  "
                  media="(max-width: 413px)"
                />
                <img
                  class="swiper-restaurant__image"
                  src="./images/restaurant/helena-lopes.jpg"
                  alt="glasses on the table"
                />
              </picture>
            </div>
            <div class="swiper-slide only-slide">
              <picture>
                <source
                  srcset="
                    ./images/restaurant/mat-brown-desktop.jpg     1x,
                    ./images/restaurant//mat-brown-desktop@2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./images/restaurant/mat-brown-tablet.jpg     1x,
                    ./images/restaurant//mat-brown-tablet@2x.jpg 2x
                  "
                  media="(min-width: 1024px) and (max-width: 1279px)"
                />
                <source
                  srcset="
                    ./images/restaurant/mat-brown.jpg     1x,
                    ./images/restaurant//mat-brown@2x.jpg 2x
                  "
                  media="(min-width: 414px) and (max-width: 1023px)"
                />
                <source
                  srcset="
                    ./images/restaurant/mat-brown.jpg     1x,
                    ./images/restaurant//mat-brown@2x.jpg 2x
                  "
                  media="(max-width: 413px)"
                />
                <img
                  class="swiper-restaurant__image--hidden"
                  src="./images/restaurant//mat-brown.jpg"
                  alt="dishes on the table"
                />
              </picture>
            </div>
          </div>
        </div>
        <div class="swiper-restaurant__svg">
          <svg
            class="swiper-restaurant__svg-arrow button-prev"
            width="32"
            height="32"
          >
            <use href="./images/icons.svg#icon-arrow-left"></use>
          </svg>
  
          <svg
            class="swiper-restaurant__svg-arrow button-next"
            width="32"
            height="32"
          >
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </section>