
<section class="about-hotel">
  <div class="container about-hotel__container">
    <div class="about-hotel__container-position">
      <h2 class="visually-hidden">About our hotel</h2>
      <span class="about-hotel__text">Amet minim mollit non</span>
      <p class="about-hotel__logo">Mimiho</p>
      <p class="about-hotel__description-first">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>

      <picture>
        <source
          srcset="
            ./images/hotel/apartment-desktop.jpg    1x,
            ./images/hotel/apartment-desktop@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/hotel/apartment-tablet.jpg    1x,
            ./images/hotel/apartment-tablet@2x.jpg 2x
          "
          media="(min-width: 1024px) and (max-width: 1279px)"
        />
        <source
          srcset="
            ./images/hotel/apartment.jpg    1x,
            ./images/hotel/apartment@2x.jpg 2x
          "
          media="(min-width: 414px) and (max-width: 1023px)"
        />
        <source
          srcset="
            ./images/hotel/apartment.jpg    1x,
            ./images/hotel/apartment@2x.jpg 2x
          "
          media="(max-width: 413px)"
        />
        <img
          class="about-hotel__image-first"
          src="/src/images/hotel/apartment-desktop.jpg"
          alt="bed in the room"
        />
      </picture>

      <div class="about-hotel__flex">
        <picture>
          <source
            srcset="
              ./images/hotel/hotel-desktop.jpg    1x,
              ./images/hotel/hotel-desktop@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/hotel/hotel-tablet.jpg    1x,
              ./images/hotel/hotel-tablet@2x.jpg 2x
            "
            media="(min-width: 1024px) and (max-width: 1279px)"
          />
          <source
            srcset="./images/hotel/hotel.jpg 1x, ./images/hotel/hotel@2x.jpg 2x"
            media="(min-width: 414px) and (max-width: 1023px)"
          />
          <source
            srcset="./images/hotel/hotel.jpg 1x, ./images/hotel/hotel@2x.jpg 2x"
            media="(max-width: 413px)"
          />
          <img
            class="about-hotel__image-second"
            src="./images/hotel/hotel.jpg"
            alt="hotel lobby"
          />
        </picture>
        <p class="about-hotel__description-second">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <section
        class="section about-hotel__slider slider-section"
       data-slider="team-slider"
      >
        <div
          class="slider-section__container slider-section__medium-container about-hotel__slider-container"
        >
          <h2 class="section-title slider-section__title">Слайдер</h2>
          <div class="swiper">
            <ul class="swiper-wrapper slider-section__wrapper">
              <li class="swiper-slide">
                <div class="swiper-inner slider-section__medium-picture">
                  <picture class="slider-section__image">
                    <source
                      srcset="
                        ./images/hotel/hotel-registration-desktop.jpg    1x,
                        ./images/hotel/hotel-registration-desktop@2x.jpg 2x
                      "
                      media="(min-width: 1280px)"
                    />
                    <source
                      srcset="
                        ./images/hotel/hotel-registration-tablet.jpg    1x,
                        ./images/hotel/hotel-registration-tablet@2x.jpg 2x
                      "
                      media="(min-width: 1024px)"
                    />
                    <source
                      srcset="
                        ./images/hotel/hotel-registration.jpg    1x,
                        ./images/hotel/hotel-registration@2x.jpg 2x
                      "
                      media="(max-width: 1023.5px)"
                    />
                    <img
                      src="./images/hotel/hotel-registration-desktop.jpg"
                      alt="Slider"
                    />
                  </picture>
                </div>
              </li>
              <li class="swiper-slide">
                <div class="swiper-inner slider-section__medium-picture">
                  <picture class="slider-section__image">
                    <source
                      srcset="
                        ./images/hotel/white-bed-decoration-desktop.jpg    1x,
                        ./images/hotel/white-bed-decoration-desktop@2x.jpg 2x
                      "
                      media="(min-width: 1280px)"
                    />
                    <source
                      srcset="
                        ./images/hotel/white-bed-decoration-tablet.jpg    1x,
                        ./images/hotel/white-bed-decoration-tablet@2x.jpg 2x
                      "
                      media="(min-width: 1024px)"
                    />
                    <source
                      srcset="
                        ./images/hotel/white-bed-decoration.jpg    1x,
                        ./images/hotel/white-bed-decoration@2x.jpg 2x
                      "
                      media="(max-width: 1023.5px)"
                    />
                    <img
                      src="./images/hotel/white-bed-decoration-desktop.jpg"
                      alt="Slider"
                    />
                  </picture>
                </div>
              </li>
              <li class="swiper-slide">
                <div class="swiper-inner slider-section__medium-picture">
                  <picture class="slider-section__image">
                    <source
                      srcset="
                        ./images/hotel/unsplash-desktop.jpg    1x,
                        ./images/hotel/unsplash-desktop@2x.jpg 2x
                      "
                      media="(min-width: 1280px)"
                    />
                    <source
                      srcset="
                        ./images/hotel/unsplash-tablet.jpg    1x,
                        ./images/hotel/unsplash-tablet@2x.jpg 2x
                      "
                      media="(min-width: 1024px)"
                    />
                    <source
                      srcset="
                        ./images/hotel/unsplash1.jpg    1x,
                        ./images/hotel/unsplash1@2x.jpg 2x
                      "
                      media="(max-width: 1023.5px)"
                    />
                    <img
                      src="./images/hotel/unsplash-desktop.jpg"
                      alt="Slider"
                    />
                  </picture>
                </div>
              </li>
            </ul>
            <div class="swiper-btns about-hotel-swiper-btns">
              <button type="button" class="swiper-btn swiper-button-prev">
                <svg width="32" height="32">
                  <use href="./images/icons.svg#icon-arrow-left"></use>
                </svg>
              </button>
              <button type="button" class="swiper-btn swiper-button-next">
                <svg width="32" height="32">
                  <use href="./images/icons.svg#icon-arrow-right"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
