<!-- Zhyvenkov Evgen -->
<section class="section-contacts">
  <div class="container">
    <div class="section-contacts__tablet">
      <div>
        <h2 class="section-contacts__title visually-hidden">Контакти</h2>
        <p class="section-contacts__text">MIMIHO</p>
        <p class="section-contacts__content">Ресторанно-готельний комплекс</p>

        <ul class="section-contacts__list">
          <li class="section-contacts__item">
            Ресторан
            <div class="section-contacts__div-rest">
              <svg class="section-contacts__icon" width="24" height="24">
                <use href="/src/images/icons.svg#icon-phone"></use>
              </svg>
              <a class="section-contacts__link" href="tel:+380955559533">
                095 555 95 33</a
              >
            </div>
          </li>
          <li class="section-contacts__item">
            Готель
            <div class="section-contacts__div-hotel">
              <svg class="section-contacts__icon" width="24" height="24">
                <use href="/src/images/icons.svg#icon-phone"></use>
              </svg>

              <a class="section-contacts__link" href="tel:+380668491089">
                066 849 10 89</a
              >
              <a class="section-contacts__link-phone" href="tel:+380672758540"
                >067 275 85 40</a
              >
            </div>
          </li>
        </ul>
        <address class="section-contacts__location">
          <a
            href="https://goo.gl/maps/jG7rf9DmQbVF5AP28"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="section-contacts__link-location"
            ><svg
              class="section-contacts__icon-location"
              width="24"
              height="24"
            >
              <use href="/src/images/icons.svg#icon-location"></use>
            </svg>
            Україна, м. Полтава,<br />
            вул. Маршала Бірюзова, 15
          </a>
        </address>
      </div>

      <iframe
        class="section-contacts__map-location"
        src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d19302.4553874207!2d34.552089109824976!3d49.5895316308117!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sru!2sua!4v1675252882497!5m2!1sru!2sua"
        width="634"
        height="412"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</section>
