<!-- Zhyvenkov Evgen -->
<section class="section-contacts">
  <div class="container">
    <h2 class="section-contacts__title">Контакти</h2>
    <a href="/src/index.html" class="section-contacts__text">MIMIHO</a>
    <p class="section-contacts__content">Ресторанно-готельний комплекс</p>
    <ul>
      <li>Ресторан<a href="tel:+380955559533">095 555 95 33</a></li>
      <li>
        Готель<a href="tel:+380668491089" href="tel:+380672758540"
          >066 849 10 89 067 275 85 40</a
        >
      </li>
    </ul>
    <a
      href="https://goo.gl/maps/CPtrU1FHBa2aNyZL9"
      target="_blank"
      rel="noopener noreferrer nofollow"
      class="footer__link footer__accent"
      >Україна, м. Полтава, вул. Маршала Бірюзова, 15
    </a>
  </div>
</section>
