<!-- Andriy Stepanenko -->
<section class="details-hotel">
    <div class="container">
        <h2 class="details-hotel__pre-title">MIMIHO</h2>
        <h3 class="details-hotel__title">Готель</h3>
        <p class="details-hotel__description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
            Velit officia consequat duis enim velit
            mollit.</p>

        <picture>
            <source srcset="/src/images/slide-hotel-tel@1x.jpg 1x, /src/images/slide-hotel-tel@2x.jpg 2x">
            <img class="details-hotel__good"
                srcset="/src/images/slide-hotel-tel@1x.jpg 1x, /src/images/slide-hotel-tel@2x.jpg 2x"
                src="/src/images/slide-hotel-tel@1x.jpg" alt="Стейк">
        </picture>
        <div class="details-hotel__position">
            <div class="details-hotel__tablet">
                <picture class="details-hotel__img">
                    <source srcset="/src/images/slide3-hotel-tab@1x.jpg 1x, /src/images/slide3-hotel-tab@2x.jpg 2x">                
                    <img srcset="/src/images/slide3-hotel-tab@1x.jpg 1x" src="/src/images/slide3-hotel-tab@1x.jpg" alt="hotel picture" width="162">
                </picture>
                <picture class="details-hotel__img">                
                    <source srcset="/src/images/slide2-hotel-tab@1x.jpg 1x, /src/images/slide2-hotel-tab@2x.jpg 2x">
                    <img srcset="/src/images/slide2-hotel-tab@1x.jpg 1x" src="/src/images/slide2-hotel-tab@1x.jpg" alt="hotel picture" width="162">
                </picture>
                <picture class="details-hotel__img">                
                    <source srcset="/src/images/slide1-hotel-tab@1x.jpg 1x, /src/images/slide1-hotel-tab@2x.jpg 2x"">
                    <img srcset="/src/images/slide1-hotel-tab@1x.jpg 1x" src="/src/images/slide1-hotel-tab@1x.jpg" alt="hotel picture" width="270">
                </picture>            
            </div>
            <div class="details-hotel__desktop">
                <picture class="details-hotel__img">
                    <source srcset="/src/images/slide1-hotel-desk@1x.jpg 1x, /src/images/slide1-hotel-desk@2x.jpg 2x">
                    <img srcset="/src/images/slide3-hotel-tab@1x.jpg 1x" src="/src/images/slide3-hotel-tab@1x.jpg"
                        alt="hotel picture" width="162">
                </picture>
                <picture class="details-hotel__img">
                    <source srcset="/src/images/slide2-hotel-tab@1x.jpg 1x, /src/images/slide2-hotel-tab@2x.jpg 2x">
                    <img srcset="/src/images/slide2-hotel-tab@1x.jpg 1x" src="/src/images/slide2-hotel-tab@1x.jpg"
                        alt="hotel picture" width="162">
                </picture>
                <picture class="details-hotel__img">
                    <source srcset="/src/images/slide1-hotel-tab@1x.jpg 1x, /src/images/slide1-hotel-tab@2x.jpg 2x"">
                                <img srcset=" /src/images/slide1-hotel-tab@1x.jpg 1x" src="/src/images/slide1-hotel-tab@1x.jpg"
                        alt="hotel picture" width="270">
                </picture>
            </div>
            <div class="details-hotel__buttons">
                <button class="details-hotel__booking" type="button">Забронювати номер</button>
                <button onclick="/src/hotel.html" class="details-hotel__price" type="button">Переглянути ціни</button>
            </div>
        </div>
    </div>
</section>