<!-- Andriy Stepanenko -->
<section class="details-hotel">
    <div class="container">
        <p class="details-hotel__pre-title">MIMIHO</p>
        <h2 class="details-hotel__title">Готель</h2>
        <p class="details-hotel__description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
            Velit officia consequat duis enim velit
            mollit.</p>

            <div class="details-hotel__mobile-pos">
                <picture>
                    <source srcset="/src/images/minislide-hotel-tel@1x.jpg 1x, /src/images/minislide-hotel-tel@2x.jpg 2x"
                        media="(min-width:414px)">
                    <img class="details-hotel__minislide"
                        srcset="/src/images/minislide-hotel-tel@1x.jpg 1x, /src/images/minislide-hotel-tel@2x.jpg 2x"
                        src="/src/images/minislide-hotel-tel@1x.jpg" alt="Яєшня">
                </picture>
                <picture>
                    <source srcset="/src/images/slide-hotel-tel@1x.jpg 1x, /src/images/slide-hotel-tel@2x.jpg 2x"
                        media="(min-width:414px)">
                    <img class="details-hotel__good"
                        srcset="/src/images/slide-hotel-tel@1x.jpg 1x, /src/images/slide-hotel-tel@2x.jpg 2x"
                        src="/src/images/slide-hotel-tel@1x.jpg" alt="Стейк">
                </picture>
            </div>
        
        <!-- <div class="details-hotel__telslide">
            <svg width="32px" height="32px">
                <use href="/src/images/icons.svg#icon-arrow-left"></use>
            </svg>
            <svg width="32px" height="32px">
                <use href="/src/images/icons.svg#icon-arrow-right"></use>
            </svg>
        </div> -->
        
        <div class="details-hotel__position">
            <div class="details-hotel__tablet">
                <picture class="details-hotel__img">
                    <source srcset="/src/images/slide3-hotel-tab@1x.jpg 1x, /src/images/slide3-hotel-tab@2x.jpg 2x" media="(min-width:1024px)">                
                    <img srcset="/src/images/slide3-hotel-tab@1x.jpg 1x" src="/src/images/slide3-hotel-tab@1x.jpg" alt="hotel picture" width="162">
                </picture>
                <picture class="details-hotel__img">                
                    <source srcset="/src/images/slide2-hotel-tab@1x.jpg 1x, /src/images/slide2-hotel-tab@2x.jpg 2x" media="(min-width:1024px)">
                    <img srcset="/src/images/slide2-hotel-tab@1x.jpg 1x" src="/src/images/slide2-hotel-tab@1x.jpg" alt="hotel picture" width="162">
                </picture>
                <picture class="details-hotel__img">                
                    <source srcset="/src/images/slide1-hotel-tab@1x.jpg 1x, /src/images/slide1-hotel-tab@2x.jpg 2x" media="(min-width:1024px)">
                    <img srcset="/src/images/slide1-hotel-tab@1x.jpg 1x" src="/src/images/slide1-hotel-tab@1x.jpg" alt="hotel picture" width="270">
                </picture>            
            </div>
            <div class="details-hotel__desktop">
                <picture class="details-hotel__img">
                    <source srcset="/src/images/slide1-hotel-desk@1x.jpg 1x, /src/images/slide1-hotel-desk@2x.jpg 2x" media="(min-width:1280px)">
                    <img srcset="/src/images/slide1-hotel-desk@1x.jpg 1x" src="/src/images/slide1-hotel-desk@1x.jpg"
                        alt="hotel picture" width="162">
                </picture>
                <picture class="details-hotel__img">
                    <source srcset="/src/images/slide2-hotel-tab@1x.jpg 1x, /src/images/slide2-hotel-tab@2x.jpg 2x" media="(min-width:1280px)">
                    <img srcset="/src/images/slide2-hotel-tab@1x.jpg 1x" src="/src/images/slide2-hotel-tab@1x.jpg"
                        alt="hotel picture" width="162">
                </picture>
                <picture class="details-hotel__img">
                    <source srcset="/src/images/slide3-hotel-desk@1x.jpg 1x, /src/images/slide3-hotel-desk@2x.jpg 2x" media="(min-width:1280px)">
                                <img srcset="/src/images/slide3-hotel-desk@1x.jpg 1x" src="/src/images/slide3-hotel-desk@1x.jpg"
                        alt="hotel picture" width="270">
                </picture>
            </div>
            <div class="details-hotel__buttons">
                <button class="details-hotel__booking button2-js" type="submit">Забронювати номер</button>
                <button class="details-hotel__booking button3-js" type="submit">Переглянути ціни</button>
            </div>
        </div>

            <div class="details-hotel__slide">
                <!-- <svg width="32px" height="32px">
                    <use href="/src/images/icons.svg#icon-arrow-left"></use>
                </svg>
                <svg width="32px" height="32px">
                    <use href="/src/images/icons.svg#icon-arrow-right"></use>
                </svg> -->
            </div>
    </div>
</section>