<!-- Andriy Stepanenko -->
<section class="details-res">
    <div class="container">
        <p class="details-res__pre-title">MIMIHO</p>
        <h2 class="details-res__title">Ресторан</h2>
        <p class="details-res__description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
            Velit officia consequat duis enim velit mollit.</p>
        <div class="details-res-mobilepos">
            <picture>
                <source srcset="/src/images/minislide-hotel-tel@1x.jpg 1x, /src/images/minislide-hotel-tel@2x.jpg 2x"
                    media="(min-width:414px)">
                <img class="details-hotel__minislide"
                    srcset="/src/images/minislide-hotel-tel@1x.jpg 1x, /src/images/minislide-hotel-tel@2x.jpg 2x"
                    src="/src/images/minislide-hotel-tel@1x.jpg" alt="Яєшня">
            </picture>
            <picture>
                <source srcset="/src/images/slide-rest-tel@1x.jpg 1x, /src/images/slide-rest-tel@2x.jpg 2x"
                    media="(min-width:414px)">
                <img class="details-res__good" srcset="/src/images/slide-rest-tel@1x.jpg 1x, /src/images/slide-rest-tel@2x.jpg 2x"
                    src="/src/images/slide-rest-tel@1x.jpg" alt="Стейк">
            </picture>
        </div>   
        
        <div class="details-res__telslide">
            <svg width="32px" height="32px">
                <use href="/src/images/icons.svg#icon-arrow-left"></use>
            </svg>
            <svg width="32px" height="32px">
                <use href="/src/images/icons.svg#icon-arrow-right"></use>
            </svg>
        </div>
        <div class="details-res__position">
            <div class="details-res__buttons">
                <button class="details-res__booking" type="button">Забронювати столик</button>
                <button class="details-res__menu" type="button">Переглянути меню</button>
            </div>
            <div class="details-res__tablet">
            <picture class="details-res__img">
                <source srcset="/src/images/slide1-rest-tab@1x.jpg 1x, /src/images/slide1-rest-tab@2x.jpg 2x" media="(min-width:1024px)">
                    <img srcset="/src/images/slide1-rest-tab@1x.jpg 1x" src="/src/images/slide1-rest-tab@1x.jpg"
                            alt="restaurant picture" width="270">
            </picture>
            <picture class="details-res__img">
                <source srcset="/src/images/slide2-rest-tab@1x.jpg 1x, /src/images/slide2-rest-tab@2x.jpg 2x" media="(min-width:1024px)">
                    <img srcset="/src/images/slide2-rest-tab@1x.jpg 1x" src="/src/images/slide2-rest-tab@1x.jpg"
                            alt="restaurant picture" width="162">
            </picture>
            <picture class="details-res__img">
                 <source srcset="/src/images/slide3-rest-tab@1x.jpg 1x, /src/images/slide3-rest-tab@2x.jpg 2x" media="(min-width:1024px)">
                            <img srcset=" /src/images/slide3-rest-tab@1x.jpg 1x" src="/src/images/slide3-rest-tab@1x.jpg"
                            alt="restaurant picture" width="162">
            </picture>
            </div>
            <div class="details-res__desktop">
            <picture class="details-res__img">
                <source srcset="/src/images/slide1-rest-desk@1x.jpg 1x, /src/images/slide1-rest-desk@2x.jpg 2x" media="(min-width:1280px)">
                <img srcset="/src/images/slide1-rest-desk@1x.jpg 1x" src="/src/images/slide1-rest-desk@1x.jpg"
                    alt="restaurant picture" width="270">
            </picture>
            <picture class="details-res__img">
                <source srcset="/src/images/slide2-rest-desk@1x.jpg 1x, /src/images/slide2-rest-desk@2x.jpg 2x" media="(min-width:1280px)">
                <img srcset="/src/images/slide2-rest-desk@1x.jpg 1x" src="/src/images/slide2-rest-desk@1x.jpg"
                    alt="Faurant picture" width="162">
            </picture>
            <picture class="details-res__img">
                <source srcset="/src/images/slide3-rest-desk@1x.jpg 1x, /src/images/slide3-rest-desk@2x.jpg 2x" media="(min-width:1280px)">
                                <img srcset=" /src/images/slide3-rest-desk@1x.jpg 1x" src="/src/images/slide3-rest-desk@1x.jpg"
                    alt="restaurant picture" width="162">
            </picture>
            </div>                
        </div>
        <div class="details-res__slide">
            <svg width="32px" height="32px">
                <use href="/src/images/icons.svg#icon-arrow-left"></use>
            </svg>
            <svg width="32px" height="32px">
                <use href="/src/images/icons.svg#icon-arrow-right"></use>
            </svg>
        </div>
    </div>
</section>