<!-- Andriy Stepanenko -->
<!-- <section class details-hotel section>
    <div class="container">
        <h2 class="details-hotel__title">MIMIHO</h2>
        <h3 class="details-hotel__title">Готель</h3>
        <p class="details-hotel__description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
            Velit officia consequat duis enim velit
            mollit.</p>

        


        <button class="button details-hotel__booking" type="button"></button>
        <button class="button details-hotel__menu" type="button"></button>
    </div>
</section> -->