*,
*::before,
*::after {
    box-sizing: border-box;
}


img {
    display: block;
    width: 100%;
    height: auto;
}
.swiper.pageSwiper{
    max-width: 50%;
    height: 100%;
    @media screen and(max-width: 1023px){
      width: auto;
    }
  }
  
  .swiper-slide.only-slide{
    text-align: center;
    font-size: 18px;
    background: none;
    min-width: 194px;
    // width: 50% !important;    
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    
  }
  
  .swiper-slide.only-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper{
    &-wrapper{
        list-style: none;
        }
    }



