@import './base/reset.scss';
@import './base/base.scss';
@import './utils/filmp3.scss';
@import './utils/fonts.scss';
@import './utils/mixin.scss';
@import './utils/variables.scss';

@import './layout/container.scss';
@import './components/hero-button';
@import './components/media-list';
@import './components/hero-address';
@import './components/header.scss';
@import './components/hero.scss';
@import './components/about-rest.scss';
@import './components/datails-rest.scss';
@import './components/about-hotel.scss';
@import './components/datails-hotel.scss';
@import './components/contacts.scss';
@import './components/hero-restaurant.scss';
@import './components/about-kitchen.scss';
@import './components/menu.scss';
@import './components/hero-hotel.scss';
@import './components/room-hotel.scss';
@import './components/hero-room.scss';
@import './components/amenities.scss';
@import './components/footer.scss';
@import './components/modal-price.scss';
@import './components/modal-room.scss';
@import './components/modal-table.scss';
