h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

@font-face {
  font-family: "Film P3 Narrow";
  src: url("FilmP3NarrowLight.eot");
  src: local("Film P3 Narrow Light"), local("FilmP3NarrowLight"), url("FilmP3NarrowLight.eot?#iefix") format("embedded-opentype"), url("FilmP3NarrowLight.woff2") format("woff2"), url("FilmP3NarrowLight.woff") format("woff"), url("FilmP3NarrowLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Film P3";
  src: url("FilmP3Light.eot");
  src: local("Film P3 Light"), local("FilmP3Light"), url("FilmP3Light.eot?#iefix") format("embedded-opentype"), url("FilmP3Light.woff2") format("woff2"), url("FilmP3Light.woff") format("woff"), url("FilmP3Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Film P3 Narrow";
  src: url("FilmP3NarrowBold.eot");
  src: local("Film P3 Narrow Bold"), local("FilmP3NarrowBold"), url("FilmP3NarrowBold.eot?#iefix") format("embedded-opentype"), url("FilmP3NarrowBold.woff2") format("woff2"), url("FilmP3NarrowBold.woff") format("woff"), url("FilmP3NarrowBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Film P3";
  src: url("FilmP3.eot");
  src: local("Film P3"), local("FilmP3"), url("FilmP3.eot?#iefix") format("embedded-opentype"), url("FilmP3.woff2") format("woff2"), url("FilmP3.woff") format("woff"), url("FilmP3.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Film P3 Wide";
  src: url("FilmP3Wide.eot");
  src: local("Film P3 Wide"), local("FilmP3Wide"), url("FilmP3Wide.eot?#iefix") format("embedded-opentype"), url("FilmP3Wide.woff2") format("woff2"), url("FilmP3Wide.woff") format("woff"), url("FilmP3Wide.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Film P3 Narrow";
  src: url("FilmP3Narrow.eot");
  src: local("Film P3 Narrow"), local("FilmP3Narrow"), url("FilmP3Narrow.eot?#iefix") format("embedded-opentype"), url("FilmP3Narrow.woff2") format("woff2"), url("FilmP3Narrow.woff") format("woff"), url("FilmP3Narrow.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Film P3";
  src: url("FilmP3Bold.eot");
  src: local("Film P3 Bold"), local("FilmP3Bold"), url("FilmP3Bold.eot?#iefix") format("embedded-opentype"), url("FilmP3Bold.woff2") format("woff2"), url("FilmP3Bold.woff") format("woff"), url("FilmP3Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Film P3 Wide";
  src: url("FilmP3WideLight.eot");
  src: local("Film P3 Wide Light"), local("FilmP3WideLight"), url("FilmP3WideLight.eot?#iefix") format("embedded-opentype"), url("FilmP3WideLight.woff2") format("woff2"), url("FilmP3WideLight.woff") format("woff"), url("FilmP3WideLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Film P3 Wide";
  src: url("FilmP3WideBold.eot");
  src: local("Film P3 Wide Bold"), local("FilmP3WideBold"), url("FilmP3WideBold.eot?#iefix") format("embedded-opentype"), url("FilmP3WideBold.woff2") format("woff2"), url("FilmP3WideBold.woff") format("woff"), url("FilmP3WideBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/* cyrillic-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459WRhyyTh89ZNpQ.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459W1hyyTh89ZNpQ.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459WZhyyTh89ZNpQ.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459WdhyyTh89ZNpQ.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459WRhyyTh89ZNpQ.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459W1hyyTh89ZNpQ.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459WZhyyTh89ZNpQ.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459WdhyyTh89ZNpQ.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459WRhyyTh89ZNpQ.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459W1hyyTh89ZNpQ.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459WZhyyTh89ZNpQ.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459WdhyyTh89ZNpQ.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459WRhyyTh89ZNpQ.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459W1hyyTh89ZNpQ.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459WZhyyTh89ZNpQ.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459WdhyyTh89ZNpQ.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459WRhyyTh89ZNpQ.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459W1hyyTh89ZNpQ.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459WZhyyTh89ZNpQ.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459WdhyyTh89ZNpQ.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 414px) {
  .container {
    width: 414px;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 1024px;
    padding-left: 47px;
    padding-right: 47px;
  }
}
@media (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 85px;
    padding-right: 85px;
  }
}

.hero-button {
  padding: 14px 35px;
  border: 2px solid #ffffff;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #f3c653;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
}

.media-list {
  display: flex;
  flex-direction: row;
  gap: 9px;
  padding-bottom: 20px;
}
.media-list__icon {
  fill: rgba(243, 198, 83, 0.7);
}

.address__control {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 15px;
}
.address__element {
  display: inline-flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  width: 210px;
  padding: 8px 0 8px 6px;
  border: 1px solid rgba(243, 198, 83, 0.7);
  border-radius: 2px;
}
.address__link {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: #E5E5E5;
}
.address__icon {
  fill: #F3C653;
}

.hero {
  max-width: 1280px;
  margin: auto;
  padding-top: 64px;
  background-position: center;
  background-size: cover;
  background-image: url(../images/hero/hero-home-mobile.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero/hero-home-mobile@2x.jpg);
  }
}
.hero__title {
  margin-top: 70px;
  font-family: "Film P3";
  font-size: 96px;
  line-height: 1.07;
  letter-spacing: 0.3em;
  color: #FFFFFF;
  text-align: center;
}
.hero__subtitle {
  margin-top: 32px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  text-align: center;
}
.hero__motto {
  margin-top: 44px;
  font-family: "Times New Roman";
  font-weight: 700;
  font-size: 32px;
  line-height: 1.15;
  letter-spacing: 0.05em;
  color: #FDFBEC;
  text-align: center;
}
.hero__control-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 113px;
}
.hero__media {
  margin-top: 58px;
  padding-left: 15px;
}

.restaurant {
  position: relative;
  padding-top: 16px;
  padding-bottom: 20px;
  background-color: #fffdee;
  background-image: linear-gradient(to right, transparent 33.8%, rgba(186, 186, 186, 0.4) 33.8% 33.9%, transparent 33.9% 66.1%, rgba(186, 186, 186, 0.4) 66.1% 66.2%, transparent 66.2%);
}
@media screen and (min-width: 1024px) {
  .restaurant {
    padding-top: 120px;
    padding-bottom: 32px;
    background-image: linear-gradient(to right, transparent 27.1%, rgba(186, 186, 186, 0.4) 27.1% 27.2%, transparent 27.2% 50%, rgba(186, 186, 186, 0.4) 50% 50.1%, transparent 50.1% 72.4%, rgba(186, 186, 186, 0.4) 72.4% 72.5%, transparent 72.5%);
  }
}
@media screen and (min-width: 1280px) {
  .restaurant {
    padding-bottom: 50px;
    background-image: linear-gradient(to right, transparent 26.4%, rgba(186, 186, 186, 0.4) 26.4% 26.5%, transparent 26.5% 50%, rgba(186, 186, 186, 0.4) 50% 50.1%, transparent 50.1% 73.6%, rgba(186, 186, 186, 0.4) 73.6% 73.7%, transparent 73.7%);
  }
}
.restaurant__text {
  color: #b4b4b4;
  margin-bottom: 12px;
  font-family: "Times New Roman", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
}
@media screen and (min-width: 1024px) {
  .restaurant__text {
    margin-bottom: 4px;
    font-size: 32px;
  }
}
.restaurant__logo {
  display: block;
  margin-bottom: 12px;
  color: #494848;
  text-transform: uppercase;
  font-family: "Film P3", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.075;
  letter-spacing: 0.3em;
}
@media screen and (min-width: 1024px) {
  .restaurant__logo {
    margin-bottom: 24px;
    font-size: 64px;
    line-height: 1.078;
  }
}
@media screen and (min-width: 1280px) {
  .restaurant__logo {
    color: #828282;
  }
}
.restaurant__flex {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 1023px) {
  .restaurant__flex {
    margin-top: 32px;
  }
}
@media screen and (min-width: 1024px) {
  .restaurant__flex {
    gap: 48px;
  }
}
@media screen and (min-width: 1280px) {
  .restaurant__flex {
    gap: 32px;
  }
}
.restaurant__description-first {
  max-width: 258px;
  margin-bottom: 28px;
  color: #5f5f5f;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02;
}
@media screen and (min-width: 1024px) {
  .restaurant__description-first {
    max-width: 439px;
    font-size: 16px;
    margin-bottom: 142px;
  }
}
@media screen and (min-width: 1280px) {
  .restaurant__description-first {
    max-width: 518px;
    margin-bottom: 162px;
  }
}
.restaurant__description-second {
  display: flex;
  max-width: 163px;
  color: #c79002;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02;
}
@media screen and (min-width: 1024px) {
  .restaurant__description-second {
    max-width: 312px;
    font-size: 16px;
  }
}
.restaurant__image-first {
  box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  margin-left: auto;
  max-width: 244px;
  height: 322px;
}
@media (min-width: 1024px) {
  .restaurant__image-first {
    position: absolute;
    left: 50%;
    top: -32px;
    max-width: 400px;
    height: 524px;
  }
}
@media (min-width: 1280px) {
  .restaurant__image-first {
    left: 50%;
    top: -33px;
    max-width: 460px;
    height: 574px;
  }
}
.restaurant__image-second {
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

@media screen and (max-width: 1023px) {
  .swiper-restaurant {
    margin-top: 32px;
  }
}
@media screen and (min-width: 1024px) {
  .swiper-restaurant {
    display: flex;
    flex-direction: column;
    margin-top: -28px;
    margin-right: 0px;
  }
}
@media screen and (min-width: 1280px) {
  .swiper-restaurant {
    margin-top: -157px;
  }
}
.swiper-restaurant__flex {
  display: flex;
  justify-content: right;
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .swiper-restaurant__flex {
    margin-bottom: 32px;
    margin-right: 0;
    margin-left: auto;
  }
}
@media screen and (min-width: 1280px) {
  .swiper-restaurant__flex {
    margin-bottom: 36px;
  }
}
.swiper-restaurant__image {
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  margin-left: auto;
}
.swiper-restaurant__image--hidden {
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
@media screen and (max-width: 1023px) {
  .swiper-restaurant__image--hidden {
    display: none;
  }
}
.swiper-restaurant__svg {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  gap: 32px;
}
.swiper-restaurant__svg-arrow {
  display: inline-block;
  cursor: pointer;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.swiper-restaurant__svg-arrow:focus, .swiper-restaurant__svg-arrow:hover {
  fill: #f3c653;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;
}

.about-hotel {
  padding-top: 18px;
  padding-bottom: 20px;
  background-color: #fffdee;
  background-image: linear-gradient(to right, transparent 33.8%, rgba(186, 186, 186, 0.4) 33.8% 33.9%, transparent 33.9% 66.1%, rgba(186, 186, 186, 0.4) 66.1% 66.2%, transparent 66.2%);
}
@media screen and (min-width: 1024px) {
  .about-hotel {
    padding-top: 120px;
    padding-bottom: 32px;
    background-image: linear-gradient(to right, transparent 27.1%, rgba(186, 186, 186, 0.4) 27.1% 27.2%, transparent 27.2% 50%, rgba(186, 186, 186, 0.4) 50% 50.1%, transparent 50.1% 72.4%, rgba(186, 186, 186, 0.4) 72.4% 72.5%, transparent 72.5%);
  }
}
@media screen and (min-width: 1280px) {
  .about-hotel {
    padding-bottom: 50px;
    background-image: linear-gradient(to right, transparent 26.4%, rgba(186, 186, 186, 0.4) 26.4% 26.5%, transparent 26.5% 50%, rgba(186, 186, 186, 0.4) 50% 50.1%, transparent 50.1% 73.6%, rgba(186, 186, 186, 0.4) 73.6% 73.7%, transparent 73.7%);
  }
}
.about-hotel__container-position {
  position: relative;
}
.about-hotel__text {
  display: flex;
  flex-direction: row-reverse;
  color: #b4b4b4;
  margin-bottom: 6px;
  font-family: "Times New Roman", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
}
@media screen and (min-width: 1024px) {
  .about-hotel__text {
    margin-bottom: 4px;
    font-size: 32px;
  }
}
.about-hotel__logo {
  display: flex;
  flex-direction: row-reverse;
  margin-right: -12px;
  margin-bottom: 16px;
  color: #494848;
  text-transform: uppercase;
  font-family: "Film P3", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.075;
  letter-spacing: 0.3em;
}
@media screen and (min-width: 1024px) {
  .about-hotel__logo {
    margin-right: -19px;
    margin-bottom: 24px;
    font-size: 64px;
    line-height: 1.078;
  }
}
@media screen and (min-width: 1280px) {
  .about-hotel__logo {
    color: #828282;
  }
}
.about-hotel__flex {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 21px;
}
@media screen and (max-width: 1023px) {
  .about-hotel__flex {
    margin-top: 32px;
  }
}
@media screen and (min-width: 1024px) {
  .about-hotel__flex {
    gap: 48px;
  }
}
@media screen and (min-width: 1280px) {
  .about-hotel__flex {
    gap: 45px;
  }
}
.about-hotel__description-first {
  display: flex;
  max-width: 242px;
  margin-bottom: 28px;
  margin-left: auto;
  color: #5f5f5f;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02;
}
@media screen and (min-width: 1024px) {
  .about-hotel__description-first {
    max-width: 419px;
    font-size: 16px;
    margin-bottom: 142px;
  }
}
@media screen and (min-width: 1280px) {
  .about-hotel__description-first {
    max-width: 488px;
    margin-bottom: 162px;
  }
}
.about-hotel__description-second {
  display: flex;
  max-width: 163px;
  color: #c79002;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02;
}
@media screen and (min-width: 1024px) {
  .about-hotel__description-second {
    max-width: 312px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .about-hotel__description-second {
    max-width: 311px;
  }
}
.about-hotel__image-first {
  box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  margin-right: auto;
  max-width: 224px;
  max-height: 322px;
}
@media (min-width: 1024px) {
  .about-hotel__image-first {
    max-width: 400px;
    max-height: 524px;
    position: absolute;
    left: 65px;
    top: -144px;
  }
}
@media (min-width: 1280px) {
  .about-hotel__image-first {
    left: 100px;
    max-width: 460px;
    max-height: 574px;
  }
}
.about-hotel__image-second {
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
@media (min-width: 1280px) {
  .about-hotel {
    max-width: 460px;
    max-height: 574px;
  }
}

.swiper-about-hotel {
  margin-left: 0px;
}
@media screen and (max-width: 1023px) {
  .swiper-about-hotel {
    margin-top: 32px;
  }
}
@media screen and (min-width: 1024px) {
  .swiper-about-hotel {
    display: flex;
    flex-direction: column;
    margin-top: -28px;
    margin-left: 0px;
  }
}
@media screen and (min-width: 1280px) {
  .swiper-about-hotel {
    margin-top: -157px;
  }
}
.swiper-about-hotel__flex {
  display: flex;
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .swiper-about-hotel__flex {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .swiper-about-hotel__flex {
    margin-bottom: 40px;
  }
}
.swiper-about-hotel__image {
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
.swiper-about-hotel__image--hidden {
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  margin-right: auto;
}
@media screen and (max-width: 1023px) {
  .swiper-about-hotel__image--hidden {
    display: none;
  }
}
.swiper-about-hotel__svg {
  display: flex;
  gap: 32px;
}
.swiper-about-hotel__svg-arrow {
  display: inline-block;
  cursor: pointer;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.swiper-about-hotel__svg-arrow:focus, .swiper-about-hotel__svg-arrow:hover {
  fill: #f3c653;
}

.hero-rest {
  background-image: url(../images/hero/hero-rest-mobile.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-rest {
    background-image: url(../images/hero/hero-rest-mobile@2x.jpg);
  }
}
.hero-rest__motto {
  margin-top: 44px;
}
.hero-rest__control-buttons {
  margin-top: 113px;
}

.hero-hotel {
  background-image: url(../images/hero/hero-room-mobile.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-hotel {
    background-image: url(../images/hero/hero-room-mobile@2x.jpg);
  }
}
.hero-hotel__control-buttons {
  margin-top: 178px;
}

.hero-room {
  padding-left: 15px;
  padding-bottom: 14px;
  background-image: url(../images/hero/hero-room-mobile.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-room {
    background-image: url(../images/hero/hero-room-mobile@2x.jpg);
  }
}
.hero-room__slider {
  display: flex;
  justify-content: space-between;
  margin-top: 239px;
}
.hero-room__arrow {
  fill: #F3C653;
  background-color: rgba(0, 0, 0, 0.65);
}
.hero-room__title {
  margin-top: 93px;
  color: #FFFFFF;
  font-family: "Times New Roman";
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.05em;
}
.hero-room__meta {
  margin-top: 14px;
  color: #FFFFFF;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
}
.hero-room__control-container {
  display: flex;
  align-items: center;
  gap: 70px;
  margin-top: 16px;
}
.hero-room__media {
  flex-direction: column;
  padding-bottom: 0;
}/*# sourceMappingURL=index.css.map */