$color-logo: rgba(73, 72, 72, 1);
$color-text-yellow: rgba(243, 198, 83, 1);
$color-text-pale-grey: rgba(180, 180, 180, 1);
$color-text-grey: rgba(122, 122, 122, 1);
$color-text-brown: rgba(199, 144, 2, 1);
$color-text-white: rgba(255, 255, 255, 1);
$color-background: rgba(255, 253, 238, 1)
