<!-- Domin Oleksandr -->
 <div class="modal-price__backdrop">
      <div class="modal-price__modal">
          <button class="btn-modal--close" type="submit">
            <svg width="10" height="10" >
              <use>
              </use>
            </svg>
          </button>

          <h3 class="modal-price__title">ЦІНИ НА НОМЕР</h3>
          <p>Двомісний люкс</p>

          <form>
            <label for="room-class">Категорія номеру</label>
            <input type="text" id="room-class" name="room-class">
            <label for="room-class">Кількість ночей</label>
            <input type="text" id="room-class" name="room-class">
          </form>
          </div>
      </div>
    </div>