<!-- Domin Oleksandr -->
 <div class="modal-price__backdrop is-hidden" data-modal-price>
      <div class="modal-price__modal-wind">
          <button class="btn-modal--close" type="submit" data-modal-price-close>
            <svg width="18" height="18" >
              <use href="./images/icons.svg#close-black">
              </use>
            </svg>
          </button>

          <h3 class="modal-price__title">ЦІНИ НА НОМЕР</h3>
          <h4 class="modal-price__title-room" >Двомісний люкс</h4>
          <p class="modal-price__discr">Категорія номеру</p>
          <div class="modal-price__thumb">
            <form class="modal-price__form">
            <select class="modal-price__select" type="text" name="number-nigh" id="number-nigh" required>
              <option value=" ">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
            <label class="modal-price__label" for="number-night">Кількість ночей</label>
          </form>
          <form class="modal-price__form-price">
            <input class="modal-price__input" type="text" name="room-price" id="room-price" placeholder="1000" required>
            <label class="modal-price__label" for="room-price">грн</label>
          </form>
          </div>

          <button class="btn-modal__booking" type="submit">ЗАБРОНЮВАТИ НОМЕР</button>
          </div>
      </div>
    </div>