<!-- Oleksandr Kalenchenko -->
<section class="about-kitchen">
  <div class="container">
    <h2>About our kitchen</h2>
    <p>Amet minim mollit non</p>
    <h3>MIMIHO</h3>
    <p>
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <picture>
      <source
        srcset="
          ./images/about-kitchen/cook_mobile.jpg 1x,
          ./images/about-kitchen/cook_mobile.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./images/about-kitchen/cook_mobile.jpg 1x,
          ./images/about-kitchen/cook_mobile.jpg 2x
        "
        media="(min-width: 1024px)"
      />
      <source
        srcset="
          ./images/about-kitchen/cook_mobile.jpg 1x,
          ./images/about-kitchen/cook_mobile.jpg 2x
        "
        media="(max-width: 1023.5px)"
      />
      <img
        src="./images/about-kitchen/cook_mobile.jpg"
        alt="The cook is frying meat"
      />
    </picture>
    <picture>
      <source
        srcset="
          ./images/about-kitchen/meat_mobile.jpg 1x,
          ./images/about-kitchen/meat_mobile.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./images/about-kitchen/meat_mobile.jpg 1x,
          ./images/about-kitchen/meat_mobile.jpg 2x
        "
        media="(min-width: 1024px)"
      />
      <source
        srcset="
          ./images/about-kitchen/meat_mobile.jpg 1x,
          ./images/about-kitchen/meat_mobile.jpg 2x
        "
        media="(max-width: 1023.5px)"
      />
      <img
        src="./images/about-kitchen/meat_mobile.jpg"
        alt="The cook is frying meat"
      />
    </picture>
    <p>
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <picture>
      <source
        srcset="
          ./images/slider/slider_rest_tablet_1.jpg 1x,
          ./images/slider/slider_rest_tablet_1.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./images/slider/slider_rest_tablet_1.jpg 1x,
          ./images/slider/slider_rest_tablet_1.jpg 2x
        "
        media="(min-width: 1024px)"
      />
      <source
        srcset="
          ./images/slider/slider_rest_tablet_1.jpg 1x,
          ./images/slider/slider_rest_tablet_1.jpg 2x
        "
        media="(max-width: 1023.5px)"
      />
      <img
        src="./images/slider/slider_rest_tablet_1.jpg"
        alt="The cook is frying meat"
      />
    </picture>
  </div>
</section>