<!-- Oleksandr Kalenchenko -->
<section class="about-kitchen">
  <div class="container about-kitchen__container">
    <h2 class="about-kitchen__title">About our kitchen</h2>
    <div class="about-kitchen__cook-container">
      <div>
        <p class="about-kitchen__text">Amet minim mollit non</p>
        <p class="about-kitchen__logo">MIMIHO</p>
        <p class="about-kitchen__first-description">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <picture class="about-kitchen__cook-image">
        <source
          srcset="
            ./images/about-kitchen/cook_dasktop.jpg    1x,
            ./images/about-kitchen/cook_dasktop@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/about-kitchen/cook_tablet.jpg    1x,
            ./images/about-kitchen/cook_tablet@2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./images/about-kitchen/cook_mobile.jpg    1x,
            ./images/about-kitchen/cook_mobile@2x.jpg 2x
          "
          media="(max-width: 1023.5px)"
        />
        <img
          src="./images/about-kitchen/cook_dasktop.jpg"
          alt="The cook is frying meat"
        />
      </picture>
    </div>
    <div class="about-kitchen__meat-container">
      <picture class="about-kitchen__meat-image">
        <source
          srcset="
            ./images/about-kitchen/meat_dasktop.jpg    1x,
            ./images/about-kitchen/meat_dasktop@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/about-kitchen/meat_tablet.jpg    1x,
            ./images/about-kitchen/meat_tablet@2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./images/about-kitchen/meat_mobile.jpg    1x,
            ./images/about-kitchen/meat_mobile@2x.jpg 2x
          "
          media="(max-width: 1023.5px)"
        />
        <img src="./images/about-kitchen/meat_dasktop.jpg" alt="Raw steak" />
      </picture>
      <p class="about-kitchen__second-description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>

    <section class="section about-kitchen__slider slider-section" data-slider="team-slider">
      <div class="slider-section__container slider-section__medium-container about-kitchen__slider-container">
        <h2 class="section-title slider-section__title">Слайдер</h2>
        <div class="swiper">
          <ul class="swiper-wrapper slider-section__wrapper">
            <li class="swiper-slide">
              <div class="swiper-inner slider-section__medium-picture">
                <picture class="slider-section__image">
                  <source
                    srcset="
                      ./images/slider/slider_rest_dasktop_1.jpg    1x,
                      ./images/slider/slider_rest_dasktop_1@2x.jpg 2x
                    "
                    media="(min-width: 1280px)"
                  />
                  <source
                    srcset="
                      ./images/slider/slider_rest_tablet_1.jpg    1x,
                      ./images/slider/slider_rest_tablet_1@2x.jpg 2x
                    "
                    media="(min-width: 1024px)"
                  />
                  <source
                    srcset="
                      ./images/slider/slider_rest_mobile_1.jpg    1x,
                      ./images/slider/slider_rest_mobile_1@2x.jpg 2x
                    "
                    media="(max-width: 1023.5px)"
                  />
                  <img
                    src="./images/slider/slider_rest_dasktop_1.jpg"
                    alt="Slider"
                  />
                </picture>
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner slider-section__medium-picture">
                <picture class="slider-section__image">
                  <source
                    srcset="
                      ./images/slider/slider_rest_dasktop_2.jpg    1x,
                      ./images/slider/slider_rest_dasktop_2@2x.jpg 2x
                    "
                    media="(min-width: 1280px)"
                  />
                  <source
                    srcset="
                      ./images/slider/slider_rest_tablet_2.jpg    1x,
                      ./images/slider/slider_rest_tablet_2@2x.jpg 2x
                    "
                    media="(min-width: 1024px)"
                  />
                  <source
                    srcset="
                      ./images/slider/slider_rest_mobile_2.jpg    1x,
                      ./images/slider/slider_rest_mobile_2@2x.jpg 2x
                    "
                    media="(max-width: 1023.5px)"
                  />
                  <img
                    src="./images/slider/slider_rest_dasktop_2.jpg"
                    alt="Slider"
                  />
                </picture>
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner slider-section__medium-picture">
                <picture class="slider-section__image">
                  <source
                    srcset="
                      ./images/slider/slider_rest_dasktop_3.jpg    1x,
                      ./images/slider/slider_rest_dasktop_3@2x.jpg 2x
                    "
                    media="(min-width: 1280px)"
                  />
                  <source
                    srcset="
                      ./images/slider/slider_rest_tablet_3.jpg    1x,
                      ./images/slider/slider_rest_tablet_3@2x.jpg 2x
                    "
                    media="(min-width: 1024px)"
                  />
                  <source
                    srcset="
                      ./images/slider/slider_rest_mobile_3.jpg    1x,
                      ./images/slider/slider_rest_mobile_3@2x.jpg 2x
                    "
                    media="(max-width: 1023.5px)"
                  />
                  <img
                    src="./images/slider/slider_rest_dasktop_3.jpg"
                    alt="Slider"
                  />
                </picture>
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner slider-section__medium-picture">
                <picture class="slider-section__image">
                  <source
                    srcset="
                      ./images/slider/slider_rest_dasktop_4.jpg    1x,
                      ./images/slider/slider_rest_dasktop_4@2x.jpg 2x
                    "
                    media="(min-width: 1280px)"
                  />
                  <source
                    srcset="
                      ./images/slider/slider_rest_tablet_4.jpg    1x,
                      ./images/slider/slider_rest_tablet_4@2x.jpg 2x
                    "
                    media="(min-width: 1024px)"
                  />
                  <source
                    srcset="
                      ./images/slider/slider_rest_mobile_4.jpg    1x,
                      ./images/slider/slider_rest_mobile_4@2x.jpg 2x
                    "
                    media="(max-width: 1023.5px)"
                  />
                  <img
                    src="./images/slider/slider_rest_dasktop_4.jpg"
                    alt="Slider"
                  />
                </picture>
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner slider-section__medium-picture">
                <picture class="slider-section__image">
                  <source
                    srcset="
                      ./images/slider/slider_rest_dasktop_5.jpg    1x,
                      ./images/slider/slider_rest_dasktop_5@2x.jpg 2x
                    "
                    media="(min-width: 1280px)"
                  />
                  <source
                    srcset="
                      ./images/slider/slider_rest_tablet_5.jpg    1x,
                      ./images/slider/slider_rest_tablet_5@2x.jpg 2x
                    "
                    media="(min-width: 1024px)"
                  />
                  <source
                    srcset="
                      ./images/slider/slider_rest_mobile_5.jpg    1x,
                      ./images/slider/slider_rest_mobile_5@2x.jpg 2x
                    "
                    media="(max-width: 1023.5px)"
                  />
                  <img
                    src="./images/slider/slider_rest_dasktop_5.jpg"
                    alt="Slider"
                  />
                </picture>
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner slider-section__medium-picture">
                <picture class="slider-section__image">
                  <source
                    srcset="
                      ./images/slider/slider_rest_dasktop_1.jpg    1x,
                      ./images/slider/slider_rest_dasktop_1@2x.jpg 2x
                    "
                    media="(min-width: 1280px)"
                  />
                  <source
                    srcset="
                      ./images/slider/slider_rest_tablet_1.jpg    1x,
                      ./images/slider/slider_rest_tablet_1@2x.jpg 2x
                    "
                    media="(min-width: 1024px)"
                  />
                  <source
                    srcset="
                      ./images/slider/slider_rest_mobile_1.jpg    1x,
                      ./images/slider/slider_rest_mobile_1@2x.jpg 2x
                    "
                    media="(max-width: 1023.5px)"
                  />
                  <img
                    src="./images/slider/slider_rest_dasktop_1.jpg"
                    alt="Slider"
                  />
                </picture>
              </div>
            </li>
          </ul>
          <div class="swiper-btns about-kitchen-swiper-btns">
            <button type="button" class="swiper-btn swiper-button-prev">
              <svg width="32" height="32">
                <use href="./images/icons.svg#icon-arrow-left"></use>
              </svg>
            </button>
            <button type="button" class="swiper-btn swiper-button-next">
              <svg width="32" height="32">
                <use href="./images/icons.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>