<!-- Rozmaita Irina -->
<section class="menu">
    <div class="container">
        <h2 id="menu" class="menu__title">МЕНЮ РЕСТОРАНУ</h2>
        <div class="menu__container">
        <!--Гарячі страви-->
        <div class="menu__box menu__flex-item">
            <h3 class="menu__title-dish">Гарячі страви</h3>
            <div class="menu__item">
                <div class="menu__box-dish">
                    <h4 class="menu__name-dish">Борщ з телятини з квасолею</h4>
                    <p class="menu__composition-dish">Телятина, картопля, капуста, морква, цибуля, квасоля, часник, помідори,
                        зелень, сметана</p>
                </div>
                <div class="menu__box-indicators">
                    <span class="menu__dish-weight">400 г</span>
                    <span class="menu__dish-price">240 грн</span>
                </div>
            </div>
            <div class="menu__item">
                <div class="menu__box-dish">
                    <h4 class="menu__name-dish">Суп сирний з куркою</h4>
                    <p class="menu__composition-dish">Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень</p>
                </div>
                <div class="menu__box-indicators">
                    <span class="menu__dish-weight">400 г</span>
                    <span class="menu__dish-price">200 грн</span>
                </div>
            </div>
            <div class="menu__item">
                <div class="menu__box-dish">
                    <h4 class="menu__name-dish">Паста карбонара</h4>
                    <p class="menu__composition-dish">Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень</p>
                </div>
                <div class="menu__box-indicators">
                    <span class="menu__dish-weight">350 г</span>
                    <span class="menu__dish-price">230 грн</span>
                </div>
            </div>
            <div class="menu__item">
                <div class="menu__box-dish">
                    <h4 class="menu__name-dish">Стейк зі свинини</h4>
                    <p class="menu__composition-dish">Свиняча вирізка, спеціі, подається з соусом солодкий чилі та овочами</p>
                </div>
                <div class="menu__box-indicators">
                    <span class="menu__dish-weight">400 г</span>
                    <span class="menu__dish-price">500 грн</span>
                </div>
            </div>
            <div class="menu__item menu__item--last">
                <div class="menu__box-dish">
                    <h4 class="menu__name-dish">Горбуша в соусі з білого вина</h4>
                    <p class="menu__composition-dish ">Ніжна горбуша, вершковий соус на основі білого вина</p>
                </div>
                <div class="menu__box-indicators">
                    <span class="menu__dish-weight">400 г</span>
                    <span class="menu__dish-price">400 грн</span>
                </div>
            </div>
        </div>
        <!--Гарніри та закуски-->
        <div class="menu__box menu__box--last menu__flex-item">
            <h3 class="menu__title-dish">Гарніри та закуски</h3>
            <div class="menu__item">
                <div class="menu__box-dish">
                    <h4 class="menu__name-dish">Запечені овочі</h4>
                    <p class="menu__composition-dish">Кабачок, перець, помідор, баклажан</p>
                </div>
                <div class="menu__box-indicators">
                    <span class="menu__dish-weight">200 г</span>
                    <span class="menu__dish-price">230 грн</span>
                </div>
            </div>
            <div class="menu__item">
                <div class="menu__box-dish">
                    <h4 class="menu__name-dish">Картопля фрі</h4>
                    <p class="menu__composition-dish">Картопля, соус томатний</p>
                </div>
                <div class="menu__box-indicators">
                    <span class="menu__dish-weight">150 г</span>
                    <span class="menu__dish-price">160 грн</span>
                </div>
            </div>
            <div class="menu__item">
                <div class="menu__box-dish">
                    <h4 class="menu__name-dish">Картопля по-селянськи</h4>
                    <p class="menu__composition-dish">Картопля, спеції, соус пікантний</p>
                </div>
                <div class="menu__box-indicators">
                    <span class="menu__dish-weight">150 г</span>
                    <span class="menu__dish-price">160 грн</span>
                </div>
            </div>
            <div class="menu__item">
                <div class="menu__box-dish">
                    <h4 class="menu__name-dish">Хрумкі соління з бочки</h4>
                    <p class="menu__composition-dish">Огірок солений, помідор квашений, квашена капуста, морква по-корейські</p>
                </div>
                <div class="menu__box-indicators">
                    <span class="menu__dish-weight">250 г</span>
                    <span class="menu__dish-price">350 грн</span>
                </div>
            </div>
            <div class="menu__item menu__item--last">
                <div class="menu__box-dish">
                    <h4 class="menu__name-dish">Крильця курячі в медовому соусі</h4>
                    <p class="menu__composition-dish">Крильця курячі, гірчично-медовий соус, подається з морквою, селерою і
                        соусом блючиз</p>
                </div>
                <div class="menu__box-indicators">
                    <span class="menu__dish-weight">400 г</span>
                    <span class="menu__dish-price">420 грн</span>
                </div>
            </div>
        </div>
        <!--Салати-->
        <div class="menu__box menu__flex-item">
            <h3 class="menu__title-dish">Салати</h3>
            <div class="menu__item">
                <div class="menu__box-dish">
                    <h4 class="menu__name-dish">Цезар з куркою</h4>
                    <p class="menu__composition-dish">Куряче філе, листя салату, помідори чері, сир пармезан, грінки, соус цезар
                    </p>
                </div>
                <div class="menu__box-indicators">
                    <span class="menu__dish-weight">230 г</span>
                    <span class="menu__dish-price">450 грн</span>
                </div>
            </div>
            <div class="menu__item">
                <div class="menu__box-dish">
                    <h4 class="menu__name-dish">Цезар з креветками</h4>
                    <p class="menu__composition-dish">Тигрові креветки, листя салату, помідори чері, сир пармезан, грінки, соус
                        цезар</p>
                </div>
                <div class="menu__box-indicators">
                    <span class="menu__dish-weight">230 г</span>
                    <span class="menu__dish-price">300 грн</span>
                </div>
            </div>
            <div class="menu__item">
                <div class="menu__box-dish">
                    <h4 class="menu__name-dish">Грецький салат</h4>
                    <p class="menu__composition-dish">Свіжі огірок, помідор, болгарський перець, оливки, сир бринза, листя салату, соус</p>
                </div>
                <div class="menu__box-indicators">
                    <span class="menu__dish-weight">150 г</span>
                    <span class="menu__dish-price">160 грн</span>
                </div>
            </div>
            <div class="menu__item menu__item--last">
                <div class="menu__box-dish">
                    <h4 class="menu__name-dish">М’ясний салат</h4>
                    <p class="menu__composition-dish">Куряче філе або свиняча вирізка, свіжі огірок, помідор, болгарський перець, соус ранч</p>
                </div>
                <div class="menu__box-indicators">
                    <span class="menu__dish-weight">230 г</span>
                    <span class="menu__dish-price">300 грн</span>
                </div>
            </div>
        </div>
    <div class="menu__flex-item">  
    <!--Десерти-->
       <div class="menu__box menu__box-dessert">
        <h3 class="menu__title-dish">Десерти</h3>
        <div class="menu__item">
            <div class="menu__box-dish">
                <h4 class="menu__name-dessert">Торт наполеон</h4>
            </div>
            <div class="menu__box-indicators">
                <span class="menu__dish-weight">230 г</span>
                <span class="menu__dish-price">300 грн</span>
            </div>
        </div>
        <div class="menu__item">
            <div class="menu__box-dish">
                <h4 class="menu__name-dessert">Торт маковий</h4>
            </div>
            <div class="menu__box-indicators">
                <span class="menu__dish-weight">230 г</span>
                <span class="menu__dish-price">300 грн</span>
            </div>
        </div>
        <div class="menu__item menu__item--last">
            <div class="menu__box-dish">
                <h4 class="menu__name-dessert">Тірамісу</h4>
            </div>
            <div class="menu__box-indicators">
                <span class="menu__dish-weight">120 г</span>
                <span class="menu__dish-price">260 грн</span>
            </div>
        </div>
       </div>
    <!--Напої-->
        <div class="menu__box menu__box-dessert menu__box--last">
        <h3 class="menu__title-dish">Напої</h3>
        <div class="menu__item">
            <div class="menu__box-dish">
                <h4 class="menu__name-dessert">Чай чорний/зелений</h4>
            </div>
            <div class="menu__box-indicators">
                <span class="menu__dish-weight menu__weight-drink">500 мл</span>
                <span class="menu__dish-price">100 грн</span>
            </div>
        </div>
        <div class="menu__item">
            <div class="menu__box-dish">
                <h4 class="menu__name-dessert">Еспресо</h4>
            </div>
            <div class="menu__box-indicators">
                <span class="menu__dish-weight menu__weight-drink">30 мл</span>
                <span class="menu__dish-price">100 грн</span>
            </div>
        </div>
        <div class="menu__item">
            <div class="menu__box-dish">
                <h4 class="menu__name-dessert">Американо</h4>
            </div>
            <div class="menu__box-indicators">
                <span class="menu__dish-weight menu__weight-drink">150 мл</span>
                <span class="menu__dish-price">100 грн</span>
            </div>
        </div>
        <div class="menu__item">
            <div class="menu__box-dish">
                <h4 class="menu__name-dessert">Капучино</h4>
            </div>
            <div class="menu__box-indicators">
                <span class="menu__dish-weight menu__weight-drink">200 мл</span>
                <span class="menu__dish-price">160 грн</span>
            </div>
        </div>
        <div class="menu__item menu__item--last">
            <div class="menu__box-dish">
                <h4 class="menu__name-dessert">Лате</h4>
            </div>
            <div class="menu__box-indicators">
                <span class="menu__dish-weight menu__weight-drink">200 мл</span>
                <span class="menu__dish-price">160 грн</span>
            </div>
        </div>
        </div>
        </div>   
    </div>
         <button class="button menu__button button-js" type="submit">Забронювати столик</button>
    </div>
</section>