<!-- Rozmaita Irina -->
<section class="menu">
    <div class="container">
        <h2 class="menu__title">МЕНЮ РЕСТОРАНУ</h2>
        <table class="menu__table">
            <caption class="caption__title">Гарячі страви</caption>
            <tr>
                <td class="menu__name-dish" colspan="3">Борщ з телятини з квасолею</td>
            </tr>
            <tr>
                <td class="menu__dish-composition">Телятина, картопля, капуста, морква, цибуля, квасоля, часник, помідори, зелень, сметана</td>
                <td class="menu__dish-weight">400 г</td>
                <td class="menu__dish-price">240 грн</td>
            </tr>
            <tr>
                <td class="menu__name-dish" colspan="3">Суп сирний з куркою</td>
            </tr>
            <tr>
                <td class="menu__dish-composition">Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень</td>
                <td class="menu__dish-weight">400 г</td>
                <td class="menu__dish-price">200 грн</td>
            </tr>
            <tr>
                <td class="menu__name-dish" colspan="3">Паста карбонара</td>
            </tr>
            <tr>
                <td class="menu__dish-composition">Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень</td>
                <td class="menu__dish-weight">350 г</td>
                <td class="menu__dish-price">230 грн</td>
            </tr>
            <tr>
                <td class="menu__name-dish" colspan="3">Стейк зі свинини</td>
            </tr>
            <tr>
                <td class="menu__dish-composition">Свиняча вирізка, спеціі, подається з соусом солодкий чилі та овочами</td>
                <td class="menu__dish-weight">400 г</td>
                <td class="menu__dish-price">500 грн</td>
            </tr>
            <tr>
                <td class="menu__name-dish" colspan="3">Горбуша в соусі з білого вина</td>
            </tr>
            <tr>
                <td class="menu__dish-composition">Ніжна горбуша, вершковий соус на основі білого вина</td>
                <td class="menu__dish-weight">400 г</td>
                <td class="menu__dish-price">400 грн</td>
            </tr>
        </table>
        <table class="menu__table">
            <caption class="caption__title">Гарніри та закуски</caption>
            <tr>
                <td class="menu__name-dish" colspan="3">Запечені овочі</td>
            </tr>
            <tr>
                <td class="menu__dish-composition">Кабачок, перець, помідор, баклажан</td>
                <td class="menu__dish-weight">200 г</td>
                <td class="menu__dish-price">230 грн</td>
            </tr>
            <tr>
                <td class="menu__name-dish" colspan="3">Картопля фрі</td>
            </tr>
            <tr>
                <td class="menu__dish-composition">Картопля, соус томатний</td>
                <td class="menu__dish-weight">150 г</td>
                <td class="menu__dish-price">160 грн</td>
            </tr>
            <tr>
                <td class="menu__name-dish" colspan="3">Картопля по-селянськи</td>
            </tr>
            <tr>
                <td class="menu__dish-composition">Картопля, спеції, соус пікантний</td>
                <td class="menu__dish-weight">150 г</td>
                <td class="menu__dish-price">160 грн</td>
            </tr>
            <tr>
                <td class="menu__name-dish" colspan="3">Хрумкі соління з бочки</td>
            </tr>
            <tr>
                <td class="menu__dish-composition">Огірок солений, помідор квашений, квашена капуста, морква по-корейські</td>
                <td class="menu__dish-weight">250 г</td>
                <td class="menu__dish-price">350 грн</td>
            </tr>
            <tr>
                <td class="menu__name-dish" colspan="3">Крильця курячі в медовому соусі</td>
            </tr>
            <tr>
                <td class="menu__dish-composition">Крильця курячі, гірчично-медовий соус, подається з морквою, селерою і соусом блючиз</td>
                <td class="menu__dish-weight">400 г</td>
                <td class="menu__dish-price">420 грн</td>
            </tr>
            <tr>
                <td class="menu__name-dish" colspan="3">Картопля по-селянськи</td>
            </tr>
            <tr>
                <td class="menu__dish-composition">Картопля, спеції, соус пікантний</td>
                <td class="menu__dish-weight">150 г</td>
                <td class="menu__dish-price">160 грн</td>
            </tr>
        </table>
        <table class="menu__table">
            <caption class="caption__title">Салати</caption>
            <tr>
                <td class="menu__name-dish" colspan="3">Цезар з куркою</td>
            </tr>
            <tr>
                <td class="menu__dish-composition">Куряче філе, листя салату, помідори чері, сир пармезан, грінки, соус цезар</td>
                <td class="menu__dish-weight">230 г</td>
                <td class="menu__dish-price">450 грн</td>
            </tr>
            <tr>
                <td class="menu__name-dish" colspan="3">Цезар з креветками</td>
            </tr>
            <tr>
                <td class="menu__dish-composition">Тигрові креветки, листя салату, помідори чері, сир пармезан, грінки, соус цезар</td>
                <td class="menu__dish-weight">230 г</td>
                <td class="menu__dish-price">300 грн</td>
            </tr>
            <tr>
                <td class="menu__name-dish" colspan="3">Грецький салат</td>
            </tr>
            <tr>
                <td class="menu__dish-composition">Свіжі огірок, помідор, болгарський перець, оливки, сир бринза, листя салату, соус</td>
                <td class="menu__dish-weight">150 г</td>
                <td class="menu__dish-price">160 грн</td>
            </tr>
            <tr>
                <td class="menu__name-dish" colspan="3">Хрумкі соління з бочки</td>
            </tr>
            <tr>
                <td class="menu__dish-composition">Огірок солений, помідор квашений, квашена капуста, морква по-корейські</td>
                <td class="menu__dish-weight">230 г</td>
                <td class="menu__dish-price">280 грн</td>
            </tr>
            <tr>
                <td class="menu__name-dish" colspan="3">М’ясний салат</td>
            </tr>
            <tr>
                <td class="menu__dish-composition">Куряче філе або свиняча вирізка, свіжі огірок, помідор, болгарський перець, соус ранч</td>
                <td class="menu__dish-weight">230 г</td>
                <td class="menu__dish-price">300 грн</td>
            </tr>
        </table>
        <table class="menu__table">
            <caption class="caption__title">Десерти</caption>
            <tr>
                <td class="menu__name-dish">Торт наполеон</td>
                <td class="menu__dish-weight">230 г</td>
                <td class="menu__dish-price">300 грн</td>
            </tr>
            <tr>
                <td class="menu__name-dish">Торт маковий</td>
                <td class="menu__dish-weight">230 г</td>
                <td class="menu__dish-price">300 грн</td>
            </tr>
            <tr>
                <td class="menu__name-dish">Тірамісу</td>
                <td class="menu__dish-weight">120 г</td>
                <td class="menu__dish-price">260 грн</td>
            </tr>
        </table>
        <table class="menu__table">
            <caption class="caption__title">Напої</caption>
            <tr>
                <td class="menu__name-dish">Чай чорний/зелений</td>
                <td class="menu__dish-weight">500 мл</td>
                <td class="menu__dish-price">100 грн</td>
            </tr>
            <tr>
                <td class="menu__name-dish">Еспресо</td>
                <td class="menu__dish-weight">30 мл</td>
                <td class="menu__dish-price">100 грн</td>
            </tr>
            <tr>
                <td class="menu__name-dish">Американо</td>
                <td class="menu__dish-weight">150 мл</td>
                <td class="menu__dish-price">100 грн</td>
            </tr>
            <tr>
                <td class="menu__name-dish">Капучино</td>
                <td class="menu__dish-weight">200 мл</td>
                <td class="menu__dish-price">160 грн</td>
            </tr>
            <tr>
                <td class="menu__name-dish">Лате</td>
                <td class="menu__dish-weight">200 мл</td>
                <td class="menu__dish-price">160 грн</td>
            </tr>
        </table>
        <button class="menu__button" type="button">Забронювати столик</button>
    </div>
</section>