<section class="details-res">
    <div class="container">
        <h2 class="details-res__pre-title">MIMIHO</h2>
        <h3 class="details-res__title">Ресторан</h3>
        <p class="details-res__description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
            mollit.</p>
<!-- SLIDERRRR -->
        
          
        <button class="details-res__button" type="button">Забронювати столик</button>
        <button class="details-res__button" type="button">Переглянути меню</button>
    </div> 
</section>