.amenities {
    background-color: #F0ECD6;
    // padding: 32px 15px;
    // box-sizing: border-box;
}

.container {
    // background-color: #F0ECD6;
    padding: 32px 15px;
    box-sizing: border-box;
}

.amenities__title {
    color: $color-text-black;
    
    margin-top: 0;
    margin-bottom: 16px;

    font-family: 'Times New Roman';
    font-weight: 400;
    font-size: 32px;
    line-height: 1.15;
    text-align: left;
    text-transform: uppercase;
}

.amenities__subtitle {
    color: $color-text-black;

    margin-top: 32px;
    margin-bottom: 16px;

    font-family: 'Times New Roman';
    font-size: 24px;
    line-height: 1.17;
    text-align: left;
    text-transform: uppercase;
}

.amenities__descr {
    color: $color-text-grey;

    margin-top: 0;
    margin-bottom: 16px;

    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    text-align: left;
}

.amenities__button {
    display: block;
    margin: 0 auto;  
    margin-top: 32px;    
    margin-bottom: 20px;  
    font-family: 'Montserrat';
    text-transform: uppercase;
    height: 64px;
    width: 384px;
    background: $color-text-black;
    border-radius: 25px;
    border: 1px solid $color-text-yellow;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: $color-text-white;
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) color;
}

.amenities__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;

    color: $color-text-brown;
    
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    text-transform: initial;

    text-decoration: none;
}

.amenities__icon {
    fill: $color-text-brown;
    margin-left: 12px;
}
