// < !-- Ihor Chepak -->
.footer {
    background-color: #0E0C07;
    display: flex;
    align-items: center;
}

.footer-logo {
    margin-right: 85px;
    margin-left: 44px;
    margin-top: 98px;
    margin-bottom: 99px;
    @media screen and(min-width: 1024px) {
        margin-right: 163px;
        margin-left: 139px;
        margin-top: 117px;
        margin-bottom: 118px;
    }
    @media screen and(min-width: 1280px) {}
}

.footer-logo__element {
    font-family: 'Film P3';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: 0.3em;
    color: #F3C653;
    @media screen and(min-width: 1024px) {
        font-size: 64px;
        line-height: 1.1;
    }
}

.footer-navigation {
    margin-top: 40px;
    margin-right: auto;
    @media screen and(min-width: 1024px) {
        display: flex;
    }
}

.footer-navigation-list {
    @media screen and(min-width: 1024px) {}
}

.footer-navigation__item {
    margin-bottom: 16px;
    &:last-child {
        margin-bottom: 33px;
    }
}

.footer-navigation__link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #F3C653;
}

.footer-socials {
    display: inline-flex;
    gap: 23px;
    margin-bottom: 41px;
    @media screen and(min-width: 1024px) {
        display: flex;
        flex-direction: column;
        @media screen and(min-width: 1280px) {}
    }
}

.footer-socials__item {
    @media screen and(min-width: 1024px) {
        border: 1px solid #F3C653;
        border-radius: 3px;
    }
}

.footer-socials__icon {
    fill: rgba(243, 198, 83, 0.7);
}

.footer-socials__text {
    display: none;
    @media screen and(min-width: 1024px) {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        display: flex;
        align-items: center;
        letter-spacing: 0.02em;
        color: #F3C653;
        display: inline-flex;
    }
}