// < !-- Maria Ostapovich -->

.hero-hotel {
    background-image: url(./images/hero/hero-room-mobile.jpg);

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(./images/hero/hero-room-mobile@2x.jpg);
        }


    &__control-buttons{
        margin-top: 178px;
    }
        
}