// < !-- Maria Ostapovich -->

.hero {
    width: 100%;
    margin: auto;
    padding-top: 64px;
    padding-bottom: 20px;
    background-position: center;
    background-size: cover;
    background-color: #000000;
    background-image: linear-gradient(to right,
    rgba(0, 0, 0, 0.65),
    rgba(0, 0, 0, 0.65)),
    url(../images/hero/hero-home-mobile.jpg);
    

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)),
        url(../images/hero/hero-home-mobile@2x.jpg);
    }

    @media (min-width:1024px){
        padding-top: 188px;
        padding-bottom: 15px;
        background-image: linear-gradient(to right,
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)),
            url(../images/hero/hero-home-tablet.jpg);

        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: linear-gradient(to right,
                rgba(0, 0, 0, 0.65),
                rgba(0, 0, 0, 0.65)),
            url(../images/hero/hero-home-tablet@2x.jpg);
        }
    }

    @media (min-width:1280px){
        padding-top: 164px;
        padding-bottom: 64px;
        background-image: linear-gradient(to right,
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)),
            url(../images/hero/hero-home-desktop.jpg);

        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: linear-gradient(to right,
                rgba(0, 0, 0, 0.65),
                rgba(0, 0, 0, 0.65)),
            url(../images/hero/hero-home-desktop@2x.jpg);
        }
    }

    &__main-container {
        width: 100%;
        position: relative;
    }

    &__title {
        margin-top: 70px;
        font-family: 'Film P3';
        font-size: 96px;
        line-height: 1.07;
        letter-spacing: 0.3em;
        color: #FFFFFF;
        text-align: center;

        @media (min-width:1024px) {
            font-size: 128px;
            margin-top: 0;
        }

        &--O {
            letter-spacing: 0em;
        }
    }

    &__subtitle {
        margin-top: 24px;
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        text-align: center;

        @media (min-width:1024px) {
            margin-top: 24px;
            font-size: 20px;
            line-height: 1.2;
        }

        @media (min-width:1280px) {
            margin-top: 32px;
        }
    }

    &__motto {
        margin-top: 40px;
        margin-bottom: 113px;
        font-family: 'Times New Roman';
        font-weight: 700;
        font-size: 32px;
        line-height: 1.15;
        letter-spacing: 0.05em;
        color: #FDFBEC;
        text-align: center;

        @media (min-width:1024px) {
            margin-top: 56px;
            margin-bottom: 145px;
            font-size: 36px;
            line-height: 1.13;
        }

        @media (min-width:1280px) {
            margin-top: 64px;
            margin-bottom: 144px;
        }

    }
    &__buttons-container {
        display: flex;
        justify-content: center;

        @media (min-width:1024px) {
           display: flex;
           justify-content: flex-end;
           
        }
    }

    &__control-buttons {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;

        @media (min-width:1024px) {
            flex-direction: row;
            justify-content: flex-end;
            gap: 40px;
            margin-top: 0;
            margin-bottom: 49px;
        }

        @media (min-width:1280px) {
            margin-bottom: 0;
            gap: 60px;
        }
    }

    &__address {
        @media (min-width:1024px) {
            position: absolute;
            bottom: 49px;
            left: 0;
        }

        @media (min-width:1280px) {
            bottom: 1px;
            left: 0;

        }
    }

    &__media {
        margin-top: 58px;

        @media (min-width:1024px) {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 0;
            margin: 0;
        }

        @media (min-width:1280px) {
            display: none;
        }
    }
}