// < !-- Rozmaita Irina -->

.menu{
    padding-top: 32px;
    padding-bottom: 32px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    color: #000000;

    &__item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 8px;
        }

    &__item--last{
        margin-bottom: 0px;
    }

    &__box {
            margin-bottom: 16px;
        }

    &__title {
    text-align: left;
    margin-bottom: 32px;
    font-family: 'Times New Roman', serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.1563;
    }

   &__title-dish {
    margin-bottom: 16px;
    text-align: left;
    font-family: 'Times New Roman', serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
   }

   &__name-dish,
   &__name-dessert {
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.214;
    letter-spacing: 0.02em;
   }

    &__name-dessert {
    margin-bottom: 0px;
   }

   &__composition-dish {
       font-weight: 400;
       font-size: 10px;
       line-height: 1.2;
       letter-spacing: 0.02em;
    }

   &__dish-weight {
       font-weight: 300;
       font-size: 14px;
       line-height: 1.214;
       letter-spacing: 0.02em;
       max-width: 40px;
   }

   &__weight-drink {
       max-width: 52px;
   }

   &__dish-price {
       font-style: normal;
       font-weight: 700;
       font-size: 14px;
       line-height: 1.214;
       letter-spacing: 0.02em;
       max-width: 67px;
   }

   &__button {
       display: block;
       margin: 0 auto;
       padding: 14px 24px;
       background-color: #000000;
       margin-top: 32px;
   }

   &__box-indicators {
       display: flex;
       align-items: center;
       gap: 32px;
   }

   &__box-dish {
       max-width: 221px;  
   }       
}







