// < !-- room-hotel -->
.room-hotel {
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
@media (max-width: 1023.5px){
    overflow: hidden;
   }

    &__text {
        color: #B4B4B4;
        font-family: Times New Roman;
        font-size: 20px;
        margin-bottom: 8px;

    @media (min-width:1024px){
        font-size: 32px;
    }
    }

    &__logo {
        color: #494848;
        font-family: 'Film P3';
        font-size: 40px;
        font-weight: 700;
        letter-spacing: 12px;
        margin-bottom: 32px;

        @media (min-width:1024px){
            font-size: 64px;
            letter-spacing: 19.2px;
            margin-bottom: 62px;
        }
    }

    &__logoo{
        letter-spacing: 0;
    }

    &__title {
        color: #000;
        font-family: Times New Roman;
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 1.2px;
        margin-bottom: 12px;

    @media (min-width:1024px){
        font-size: 30px;
        letter-spacing: 1.5px;
        margin-bottom: 16px;
    }
        @media (min-width: 1280px){
            font-size: 36px;
            letter-spacing: 1.8px;
        }
    }

    &__description {
        color: #7A7A7A;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0.24px;
        margin-bottom: 32px;
        max-width: 258px;

    @media (min-width:1024px){
        font-size: 16px;
        font-style: normal;
        letter-spacing: 0.32px;
        max-width: 439px;
        margin-right: 26px;
    }
}

&__slider {
    display: flex;

    @media (max-width:1023px) {
        margin-bottom: 310px;
    }

    @media (min-width: 1024px) {
        justify-content: flex-end;
        margin-bottom: 10px;
    }
}

&__slider-container {
    @media (max-width: 1023.5px) {
        width: 510px;
        position: absolute;
        left: 69px;
    }
}
}

.two-room{
@media (min-width:1024px){
transform: translateY(-53px);
}

&__box {
    @media (min-width:1024px) {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

&__image {
    margin-left: auto;
}
}

.two-room__image,
.three-room__image {
    max-width: 244px;
    border-radius: 2px;
    margin-bottom: 32px;
    background: #DADADA;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);

    @media (min-width:1024px){
        max-width: 400px;
    }
}

.three-room{
background-color: #F0ECD6;
width: 100%;
  
&__image {
    margin-right: auto;
    @media (max-width: 1023.5px){
    margin-bottom: 32px;
    }
}

&__box {
    @media (min-width:1024px) {
        display: flex;
        justify-content: space-around;
        align-items: center;
        transform: translateY(-53px);
        flex-flow: row-reverse;
    }
}

&__description {
        max-width: 242px;
        margin-left: 86px;
        text-align: left;

    @media (min-width:1024px){
    max-width: 400px;
    margin-left: auto;
    }
    @media (min-width: 1280px){
    max-width: 453px;
    }

    }
&__text-box {
    text-align: right;
    @media (min-width:1024px){
        text-align: left;
    }
}
}

.button-container{
    text-align: center; 
}

.two-room__button-container{
@media (min-width:1024px) {
        max-width: 236px;
        margin-left: auto;
    }
}

.three-room__button-container{
    @media (min-width:1024px) {
        position: absolute;
        transform: translateY(-153px);
        }               
}

.button__details{
    display: inline-block;
    padding: 14px 64px;
    @media (min-width:1024px){
        margin-top: 10px;
    }
}


.room-hotel-swiper-btns {
    @media (max-width: 414px) {
        margin-left: calc(100vw - 200px);
    }

    @media (min-width: 414px) {
        margin-left: 220px;
    }

    @media (min-width: 1024px) {
        justify-content: flex-end;
    }
}



