// < !-- Andriy Kovratovskiy -->
.page {
    &__main {

    }
}

.main {
    background-color: #FFFDEE;
    &-more__text {
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 12px;
        line-height: 1.22;
        letter-spacing: 0.02em;
        color: #7A7A7A;
    }   
    &__images {
        img {
            max-width: 244px;
        }
    }
}

.button-list {
    &__btn {
        padding: 14px 64px;
        background-color: #000000;
        color: #F3C653;
        border: 2px solid #FFFDEE;
        border-radius: 25px;
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.02em;
    }
}

// БАЗОВЫЕ СТИЛИ 
.excerpt {
    font-family: 'Times New Roman';
    font-size: 20px;
    line-height: 1.16;
    color: #B4B4B4;
}

.subtitle {
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.05em;

    color: #000000;
}