.details-res {
  width: 100%;
  height: 735px;
  padding-top: 24px;
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url('/src/images/details-rest-tel@1x.jpg');

  @include retina {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url('/src/images/details-rest-tel@2x.jpg');
  }
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.25);

  @include tablet {
    height: 620px;
    padding-top: 48px;
    padding-bottom: 96px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url('/src/images/details-rest-tab@1x.jpg');

    @include retina {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url('/src/images/details-rest-tab@2x.jpg');
    }
  }

  @include desktop {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url('/src/images/details-rest-desk@1x.jpg');

    @include retina {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url('/src/images/details-rest-desk@2x.jpg');
    }
  }
}

// MIMINO
.details-res__pre-title {
  margin-bottom: 12px;
  margin-left: calc(140px - 15px);

  font-family: 'Film P3';
  font-weight: 700;
  font-size: 40px;
  line-height: 1.08;
  letter-spacing: 0.3em;
  color: $color-text-white;

  @include tablet {
    font-size: 64px;
    margin-left: calc(278px - 47px);
    margin-bottom: 16px;
  }

  @include desktop {
    margin-left: calc(338px - 85px);
  }
}

.details-res__title {
  margin-left: calc(140px - 15px);
  margin-bottom: 20px;

  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: $color-text-white;

  @include tablet {
    font-size: 24px;
    margin-left: calc(278px - 47px);
    margin-bottom: 8px;
  }
  @include desktop {
    margin-left: calc(338px - 85px);
  }
}

.details-res__description {
  margin-bottom: 48px;
  margin-left: calc(140px - 15px);
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: rgba(186, 186, 186, 1);

  @include tablet {
    max-width: 610px;
    font-size: 16px;
    margin-left: calc(278px - 47px);
    margin-bottom: 40px;
  }
  @include desktop {
    margin-left: calc(338px - 85px);
  }
}

.details-res__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    align-items: flex-start;
  }
}

.details-res__booking {
  margin-bottom: 16px;
  @extend .details-res__menu;
}

.details-res__menu {
  width: 236px;
  height: 48px;
  border-radius: 25px;
  border: 2px solid $color-text-white;
  background-color: rgba(0, 0, 0, 0.4);

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;

  letter-spacing: 0.02em;
  color: $color-text-yellow;

  transition: background-color, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $color-text-white;
    border-color: $color-text-yellow;
  }

  @include tablet {
  }
}

.details-res__good {
  max-width: 274px;
  max-height: 270px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 80px;

  @include tablet {
    display: none;
  }
}
