<!-- Maria Ostapovich -->
<section class="hero hero-hotel">
  <div class="container">
    <div class="hero__main-container">
      <div class="address__control">
        <address class="address__element">
          <svg class="address__icon" width="20px" height="20px">
            <use href="./images/icons.svg#icon-location"></use>
          </svg>

          <a
            href="https://goo.gl/maps/jG7rf9DmQbVF5AP28"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="address__link"
          >
            Україна, м. Полтава, <br />
            вул. Маршала Бірюзова, 15</a
          >
        </address>
      </div>

      <h1 class="hero__title">MIMIHO</h1>

      <h2 class="hero__subtitle hero-hotel__subtitle">Готель</h2>

      <div class="hero__buttons-container">
        <div class="hero__control-buttons">
          <button type="submit" class="button" data-modal-open>
            Забронювати столик
          </button>
          <button type="submit" class="button" data-modal-open>
            Забронювати номер
          </button>
        </div>
      </div>

      <ul class="media-list hero__media">
        <li class="media-list__item">
          <a href="" class="media-list__link" aria-label="Instagram">
            <svg class="media-list__icon" width="24px" height="24px">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="media-list__item">
          <a href="" class="media-list__link" aria-label="Facebook">
            <svg class="media-list__icon" width="24px" height="24px">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="media-list__item">
          <a href="" class="media-list__link" aria-label="Telegram">
            <svg class="media-list__icon" width="24px" height="24px">
              <use href="./images/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
