<!-- Andrey Kovratovskiy -->
<section class="page">
    <div class="container">
        <div class="page__content main">
            <div class="main__content">
                <p class="main__excerpt">Amet minim mollit non</p>
                <a class="main__title" href="#">MIMINO</a>
            </div>
            <div>
                <h2 class="main__subtitle">ДВОМІСНИЙ НОМЕР люкс</h2>
                <p class="main__desc">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                    amet sint. Velit officia consequat duis enim velit mollit.
                    Exercitation veniam consequat sunt nostrud amet.
                </p>
            </div> 
            <div class="main__images">
                <img src="./images/room-hotel/svg/jpg/s-mobile-bed.jpg" alt="ДВОМІСНИЙ НОМЕР люкс">
            </div>
            <div class="slider">
                <div class="slider__photos">
                    <img src="./images/room-hotel/svg/jpg/s-wash-basin.jpg" alt="Умывальник">
                    <img src="./images/room-hotel/svg/jpg/s-coffe.jpg" alt="Cofe">
                </div>
                <div>
                    <button type="button">
                        <svg>
                            <use href="./images/icons.svg#icon-arrow-left"></use>
                        </svg>
                    </button>
                    <button type="button">
                        <svg>
                            <use href="./images/icons.svg#icon-arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="main-buttons">
                <button class="main-buttons__button button" type="button">Детальніше</button>
                <button class="main-buttons__button button" type="button">Переглянути ціни</button>
            </div>
        </div>
    </div>
</section>
