<!-- Andrey Kovratovskiy -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./sass/index.scss">
    <title>Room Hotel</title>
</head>
<body>
    <main class="page">
        <section class="page__main main">
            <div class="container">
                <p class="main__excerpt excerpt">Amet minim mollit non</p>
                <a href="#"><img src="./images/room-hotel/svg/MIMIHO.svg" alt="MIMIHO"></a>
                <div class="main-more">
                    <h2 class="main-more__subtitle subtitle">ДВОМІСНИЙ НОМЕР люкс</h2>
                    <p class="main-more__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>
                <div class="main__images">
                    <img src="./images/room-hotel/svg/jpg/s-mobile-bed.jpg" alt="Luxe">
                </div>
                <div class="slider"></div>
                <div class="button-list">
                    <button class="button-list__btn" type="button">Детальніше</button>
                    <button class="button-list__btn" type="button">Переглянути ціни</button>
                </div>
            </div>
        </section>
    </main>
</body>
</html>