<!-- Andrey Kovratovskiy -->

<!-- Main -->
<section class="main">
    <div class="container">
        <div class="main__content">
            <div class="title-content">
                <p class="title-content__excerpt">Amet minim mollit non</p>
                <a class="title-content__title" href="#">MIMIHO</a>
            </div>
            <div class="main-luxe">
                <h2 class="main-luxe__subtitle">ДВОМІСНИЙ НОМЕР люкс</h2>
                <p class="main-luxe__desc">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                    amet sint. Velit officia consequat duis enim velit mollit.
                    Exercitation veniam consequat sunt nostrud amet.
                </p>
            </div> 
            <div class="main__images">
                <img src="./images/room-hotel/svg/jpg/s-mobile-bed.jpg" alt="ДВОМІСНИЙ НОМЕР люкс">
            </div>
            <div class="main-slider">
                <div class="main-slider__content">
                    <div class="main-slider__photos">
                        <img src="./images/room-hotel/svg/jpg/s-wash-basin.jpg" alt="Умывальник">
                        <img src="./images/room-hotel/svg/jpg/s-coffe.jpg" alt="Cofe">
                    </div>
                    <div class="main-slider__battons">
                        <button type="button" class="main-slider__btn">
                            <svg width="32" height="32">
                                <use href="./images/icons.svg#icon-arrow-left"></use>
                            </svg>
                        </button>
                        <button type="button" class="main-slider__btn">
                            <svg width="32" height="32" class="slider__svg">
                                <use href="./images/icons.svg#icon-arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="main-buttons">
                    <button class="main-buttons__button" type="button">Детальніше</button>
                    <button class="main-buttons__button" type="button">Переглянути ціни</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- PAGE -->
<section class="main page">
    <div class="container">
        <div class="main__content page-content">
            <div class="title-content content-title">
                <p class="title-content__excerpt content-title__excerpt">Amet minim mollit non</p>
                <a class="title-content__title content-title__title" href="#">MIMIHO</a>
            </div>
            <div class="main-luxe page-luxe">
                <h2 class="main-luxe__subtitle">ТРЬОХМІСНИЙ НОМЕР</h2>
                <p class="main-luxe__desc page-luxe__desc">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                    amet sint. Velit officia consequat duis enim velit mollit.
                    Exercitation veniam consequat sunt nostrud amet.
                </p>
            </div> 
            <div class="main__images page__images">
                <img src="./images/room-hotel/svg/jpg/s-mobile-bed.jpg" alt="ДВОМІСНИЙ НОМЕР люкс">
            </div>
            <div class="main-slider page-slider">
                <div class="page-slider__content">
                    <div class="main-slider__photos page-slider__photo">
                        <img src="./images/room-hotel/svg/jpg/s-wash-basin.jpg" alt="Умывальник">
                        <img src="./images/room-hotel/svg/jpg/s-coffe.jpg" alt="Cofe">
                    </div>
                    <div class="main-slider__battons page-slider__buttons">
                        <button type="button" class="main-slider__btn">
                            <svg width="32" height="32">
                                <use href="./images/icons.svg#icon-arrow-left"></use>
                            </svg>
                        </button>
                        <button type="button" class="main-slider__btn">
                            <svg width="32" height="32" class="slider__svg">
                                <use href="./images/icons.svg#icon-arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="main-buttons">
                    <button class="main-buttons__button" type="button">Детальніше</button>
                    <button class="main-buttons__button" type="button">Переглянути ціни</button>
                </div>
            </div>
            
        </div>
    </div>
</section>

<!-- MAIN -->
<section class="main">
    <div class="container">
        <div class="main__content">
            <div class="title-content">
                <p class="title-content__excerpt">Amet minim mollit non</p>
                <a class="title-content__title" href="#">MIMIHO</a>
            </div>
            <div class="main-luxe">
                <h2 class="main-luxe__subtitle">ДВОМІСНИЙ НОМЕР люкс</h2>
                <p class="main-luxe__desc">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                    amet sint. Velit officia consequat duis enim velit mollit.
                    Exercitation veniam consequat sunt nostrud amet.
                </p>
            </div> 
            <div class="main__images">
                <img src="./images/room-hotel/svg/jpg/s-mobile-bed.jpg" alt="ДВОМІСНИЙ НОМЕР люкс">
            </div>
            <div class="main-slider">
                <div class="main-slider__photos">
                    <img src="./images/room-hotel/svg/jpg/s-wash-basin.jpg" alt="Умывальник">
                    <img src="./images/room-hotel/svg/jpg/s-coffe.jpg" alt="Cofe">
                </div>
                <div class="main-slider__battons">
                    <button type="button" class="main-slider__btn">
                        <svg width="32" height="32">
                            <use href="./images/icons.svg#icon-arrow-left"></use>
                        </svg>
                    </button>
                    <button type="button" class="main-slider__btn">
                        <svg width="32" height="32" class="slider__svg">
                            <use href="./images/icons.svg#icon-arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="main-buttons">
                <button class="main-buttons__button" type="button">Детальніше</button>
                <button class="main-buttons__button" type="button">Переглянути ціни</button>
            </div>
        </div>
    </div>
</section>

